<% if current_user.user_clubs.joined.of_club(@club) %>
  <div class="sidebar-block">
    <% if current_user.user_clubs.joined.of_club(@club) %>
      <h5 class="site-heading left-title center"><%= t "budget_now" %></strong>
        <%= number_to_currency(@club.money, locale: :vi) %></strong>
      </h5>
      <div class="join-cancel-toggle-container center">
        <%= link_to "#budget-club", data: {toggle: "modal", target: "#budget_club_popup"},
          class: "btn btn-sm btn-primary animation-fadeIn360
          button-budget-album" do %>
          <i class="fa fa-search "></i> <%= t "view_detail_budget" %>
        <% end %>
      </div>
      <div class="modal fade show" id="budget_club_popup">
        <%= render "popups/budget_club" %>
      </div>
    <% end %>
  </div>
<% end %>
