<div class="club-profile">
<%= render "users/users" %>
  <section class="">
    <div class="">
      <div class="profile clearfix">
        <div class="image club-profile-image">
          <%= link_to club_path(@club) do %>
            <%= image_tag @club.image, class: "img-cover", title: t("image_cover") %>
          <% end %>
          <div class="bottomleft col-md-4">
            <h3 class="name-club text-left"><%= @club.name %></h3>
            <span class="animation-slideUp hidden-xs rating-container">
              <%= render "ratings/rating" %>
            </span>
            <div class="join-cancel-toggle-container">
              <%= render "user_clubs/join_cancel_toggle" %>
            </div>
            <% if !current_user.user_clubs.of_club(@club).nil? && current_user.user_clubs.of_club(@club).joined? %>
              <%= link_to user_club_path(club_id: @club.id), method: :delete,
                data: {confirm: t("answer_leave")}, class: "join-club-button btn
                pull-left btn-club" do %>
                <%= t("leave_club") %>
                <i class="fa fa-share-square-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="bottomright">
          </div>
        </div>
        <div class="user clearfix">
          <div class="avatars">
            <%= link_to @club do %>
              <%= image_tag @club.logo, title: t("logo"),
                class: "img-thumbnail img-profile" %>
            <% end %>
          </div>
          <div class="actions">
            <div class="pull-right button-readmore-club">
              <%= link_to "#modal-goal-club", data: {toggle: "modal"},
                class: "btn btn-sm button-club animation-fadeIn360" do %>
                <i class="fa fa-line-chart"></i> <%= t "goal" %>
              <% end %>
              <%= link_to "#modal-plan-club", data: {toggle: "modal"},
                class: "btn btn-sm button-club animation-fadeIn360" do %>
                <i class="fa fa-file-word-o"></i> <%= t "plan" %>
              <% end %>
              <%= link_to "#modal-local-club", data: {toggle: "modal"},
                class: "btn btn-sm button-club animation-fadeIn360" do %>
                <i class="fa fa-home"></i> <%= t "local_club" %>
              <% end %>
              <%= link_to "#modal-rules-club", data: {toggle: "modal"},
                class: "btn btn-sm button-club animation-fadeIn360" do %>
                <i class="fa fa-file-text-o"></i> <%= t "rules_club" %>
              <% end %>
              <%= link_to "#modal-finance-club", data: {toggle: "modal"},
                class: "btn btn-sm button-club animation-fadeIn360" do %>
                <i class="fa fa-money "></i> <%= t "rule_finance" %>
              <% end %>
              <%= link_to "#modal-time-join-club", data: {toggle: "modal"},
                class: "btn btn-sm button-club animation-fadeIn360" do %>
                <i class="fa fa-handshake-o"></i> <%= t "time_member_join" %>
              <% end %>
              </div>
              <div id="modal-content-club" class="modal fade" tabindex="-1"
                role="dialog" aria-hidden="true">
                <%= render "popups/location" %>
              </div>
              <%= render "clubs/modal_club_field" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
