<div class="media-container">
  <section class="site-section site-section-light site-section-top">
    <div class="container">
      <%= link_to "#" do %>
        <span class="site-top-avatar pull-right join-button animation-fadeIn360">
          <%= t "join" %>
        </span>
      <% end %>
      <h1 class="animation-slideDown"><strong><%= @club.name %></strong></h1>
      <span class="animation-slideUp hidden-xs rating-container">
        <input type="number" name="rating" class="rating" data-min=1 data-max= 5>
        <p class="h3"><%= @club.rating %> <%= t "for_ratings" %></p>
      </span>
      <p class="h3 animation-slideUp hidden-xs">
        <%= @club.description %>
      </p>
    </div>
    <div class="container"></div>
  </section>
  <%= image_tag @club.image, class: "media-image animation-pulseSlow" %>
</div>
