<div class="col-md-12 block">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <% if events.any? %>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        <% end %>
      </thead>
      <tbody>
      <% if events.any? %>
        <% events.each do |event| %>
          <tr>
            <td>
              <%= link_to club_event_url(event.club, event), target: :blank do %>
                <%= event.name %>
              <% end %>
            </td>
            <td><%= number_to_currency(event.expense, locale: :vi) %></td>
            <td><%= l event.created_at, format: :short %></td>
          </tr>
        <% end %>
      <% else %>
        <h1><%= t "no_data" %></h1>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
