<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="push-bit">
        <h1 class="text-center"><%= title_page %></h1><br>
      </div>
      <div class="col-md-4 col-lg-3">
        <aside class="sidebar site-block">
          <div class="sidebar-block">
            <%= search_form_for @q, class: "form-horizontal" do |f| %>
              <div class="form-group push-bit">
                <div class="col-xs-12">
                  <div class="input-group">
                    <%= f.text_field :name_or_description_cont,
                      class: "form-control", id: "ecom-search",
                      placeholder: t("name_des") %>
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div><hr>
              <h4><strong><%= t "filters" %></strong></h4>
              <div class="form-group">
                <div class="col-sm-8">
                  <select id="ecom-filter-condition" name="ecom-filter-condition"
                    class="form-control" size="1">
                    <option value="0" disabled selected>
                      <%= t "hobbies" %>
                    </option>
                    <option value="new"><%= t "football_club" %></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8">
                  <select id="ecom-filter-rating" name="ecom-filter-rating"
                    class="form-control" size="1">
                    <option value="0" disabled selected>
                      <%= t "ratings" %>
                    </option>
                    <%= Settings.max_for_rating.times do |index| %>
                      <option value="<%= index %>">
                        <%= index %> <%= t "stars" %>
                      </option>
                    <% end %>
                  </select>
                </div>
              </div><hr>
              <h4 class="-header"><strong><%= t "sort_by" %></strong></h4>
              <div class="form-group">
                <div class="col-xs-12">
                  <%= sort_link(@q, :name,
                    [:name, "name asc"], t("name_club")) %>
                  <br>
                  <%= sort_link(@q, :rating,
                    [:rating, "rating desc"], t("for_rating")) %>
                  <br>
                  <%= sort_link(@q, :created_at,
                    [:created_at, "created_at desc"], t("created_at")) %>
                </div>
                <hr>
              </div>
            <% end %>
          </div>
        </aside>
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="form-inline push-bit clearfix">
          <div class="pull-right">
          <% if @user_organizations.any? %>
            <%= paginate clubs %>
          <% end %>
          </div>
          <select id="results-sort" name="results-sort" class="form-control" size="1">
            <option value="0" disabled selected><%= t "sort_by" %></option>
            <option value="2"><%= t "name" %> <%= t "a-z" %></option>
            <option value="3"><%= t "name" %> <%= t "z-a" %></option>
            <option value="4"><%= t "rating" %> <%= t "low_to_hight" %></option>
            <option value="5"><%= t "rating" %> <%= t "hight_to_low" %></option>
            <option value="6"><%= t "members" %> <%= t "low_to_hight" %></option>
            <option value="7"><%= t "members" %> <%= t "hight_to_low" %></option>
            <option value="8"><%= t "money" %> <%= t "low_to_hight" %></option>
            <option value="9"><%= t "money" %> <%= t "hight_to_low" %></option>
          </select>
        </div>
        <% if @user_organizations.any? %>
          <% if clubs.any? %>
            <%= render partial: "shared/list_club", locals: {clubs: clubs} %>
          <% else %>
            <h4 class="notifi-join"><%= t "no_data" %></h4>
          <% end %>
        <% else %>
          <h4 class="notifi-join"><%= t "no_data_club_organization" %></h4 >
          <h4>
            <span><%= t "let_join_organization" %></span>
            <%= link_to t("here"), organizations_path, target: :blank,
              class: "btn btn-danger" %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
</section>
