<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header top-header-favorit">
          <section class="top-header-thumb">
            <%= image_tag @club.image, class: "img-cover", title: t("image_cover") %>
            <div class="top-header-author col-md-9">
              <div class="author-thumb">
                <%= image_tag @club.logo, class: "img-cover img_small", title: t("image_cover") %>
              </div>
              <div class="author-content">
                <a href="#" class="h3 author-name"><%= @club.name %></a>
                <span class="animation-slideUp hidden-xs rating-container">
                  <%= render "ratings/rating" %>
                </span>
              </div>
              <div class="pull-right">
                <%= render "button_leave_club" %>
              </div>
            </div>
          </section>
          <div class="profile-section">
            <div class="row">
              <div class="col-xl-10 offset-xl-1 col-lg-8 offset-lg-2 col-md-12 offset-md-0">
                <ul class="profile-menu tab_list_detail_club">
                  <li>
                    <%= link_to t("events"), "#event", class: "active" %>
                  </li>
                  <li>
                    <%= link_to t("images"), "#image" %>
                  </li>
                  <li >
                    <%= link_to t("content_club"), "#content_club" %>
                  </li>
                  <li>
                    <%= link_to t("goal"), "#goal" %>
                  </li>
                  <li>
                    <%= link_to t("plan"), "#plan" %>
                  </li>
                  <li>
                    <%= link_to t("local_club"), "#local_club" %>
                  </li>
                  <li>
                    <%= link_to t("rules_club"), "#rules_club" %>
                  </li>
                  <li>
                    <%= link_to t("rule_finance"), "#rule_finance" %>
                  </li>
                  <li>
                    <%= link_to t("time_member_join"), "#time_member_join" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
