<div id="modal-content-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title"><%= t "content_club" %></h2>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= @club.content.html_safe %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-rules-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title"><%= t "rules_club" %></h2>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= @club.rules %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-finance-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title"><%= t "rule_finance" %></h2>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= @club.rule_finance %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-time-join-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title"><%= t "time_member_join" %></h2>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= @club.time_join %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-goal-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title"><%= t "goal" %></h2>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= @club.goal %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-plan-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2 class="modal-title"><%= t "plan" %></h2>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= @club.plan %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

