<div id="modal-local-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3 class="modal-title"><%= t "local_club" %></h3>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= get_field_club @club.local %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-rules-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3 class="modal-title"><%= t "rules_club" %></h3>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= get_field_club @club.rules %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-finance-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3 class="modal-title"><%= t "rule_finance" %></h3>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= get_field_club @club.rule_finance %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-time-join-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3 class="modal-title"><%= t "time_member_join" %></h3>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= get_field_club @club.time_join %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-goal-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3 class="modal-title"><%= t "goal" %></h3>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= get_field_club @club.goal %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div id="modal-plan-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="modal-dialog edit-club">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h3 class="modal-title"><%= t "plan" %></h3>
        </div>
        <div class="modal-body">
          <p class="text-justify"><%= get_field_club @club.plan %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

