<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "member.show" %></li>
    <li><%= link_to @user.full_name, t("do_nothing") %></a></li>
  </ul>
  <div class="row">
    <div class="show_member col-md-10 col-md-offset-1 block full">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="center"><%= image_tag @user.avatar, class: "circle-profile" %></div>
        </div>
        <div class="col-md-8">
          <div class="item clearfix">
            <div class="col-md-4"><strong><%= t "name" %></strong></div>
            <div class="col-md-8"><%= @user.full_name %></div>
          </div>
          <div class="item clearfix">
            <div class="col-md-4"><strong><%= t "email" %></strong></div>
            <div class="col-md-8"><%= @user.email %></div>
          </div>
          <div class="item clearfix">
            <div class="col-md-4"><strong><%= t "phone" %></strong></div>
            <div class="col-md-8"><%= @user.phone %></div>
          </div>
          <div class="item clearfix">
            <div class="col-md-4"><strong><%= t "member.clubs" %></strong></div>
            <div class="col-md-8">
              <% @user.clubs.each do |club| %>
                <% if status_user_club(@user, club) %>
                  <span class="label label-warning margin-label-club"><%= club.name %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
