<% @user_clubs.each do |user_club|%>
  <tr>
    <td class="text-center"><%= user_club.id %></td>
    <td class="text-center"><%= image_tag user_club.avatar,
      class: "circle-profile-list" %></td>
    <td><%= user_club.full_name %></a></td>
    <td><%= user_club.email %></td>
    <td><%= user_club.phone %></td>
    <td class="text-center">
      <%= form_for [:club_manager, @club, user_club] do |f| %>
        <%= f.submit t("approve"), class: "btn btn-lg btn-primary" %>
      <% end %>
    </td>
  </tr>
<% end %>
