<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <%= link_to t("do_nothing") do %>
            <%= image_tag "placeholders/avatars/avatar2.jpg" %>
          <% end %>
        </div>
        <div class="sidebar-user-name"></div>
        <div class="sidebar-user-links">
          <%= link_to t("do_nothing"), title: t("profile") do %>
            <i class="gi gi-user"></i></a>
          <% end %>
          <%= link_to "#modal-user-settings", title: t("setting") do %>
            <i class="gi gi-cogwheel"></i></a>
          <% end %>
          <%= link_to t("do_nothing"), title: t("logout") do %>
            <i class="gi gi-exit"></i></a>
          <% end %>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <span class="sidebar-header-title"><%= t "company_manager" %></span>
        </li>
        <li>
          <%= link_to t("do_nothing") do %>
            <i class="gi gi-leaf sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "dashboard" %></span></a>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing") do %>
            <i class="gi gi-check sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide">
              <%= t "approve_club_request" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-user sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide">
              <%= t "members" %>
            </span>
          <% end %>
          <ul>
            <li>
              <%= link_to t("dashboard"), t("do_nothing") %>
            </li>
            <li>
              <%= link_to t("list_staff"), t("do_nothing") %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-building sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t("my_company") %></span>
          <% end %>
          <ul>
            <li><%= link_to t("Dashboard"), t("do_nothing") %></li>
            <li><%= link_to t("list_clubs"), t("do_nothing") %></li>
          </ul>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-title"><%= t "clubs_manager" %></span>
        </li>
        <li>
          <%= link_to t("do_nothing") do %>
            <i class="gi gi-leaf sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "Dashboard" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-user sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "members" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-group sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "my_clubs" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-camera sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "clubs's_album" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-gamepad sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "Event" %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
