<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <%= link_to t("do_nothing") do %>
            <%= image_tag current_user.avatar %>
          <% end %>
        </div>
        <div class="sidebar-user-name"></div>
        <div class="sidebar-user-links">
          <%= link_to t("do_nothing"), title: t("profile") do %>
            <i class="gi gi-user"></i></a>
          <% end %>
          <%= link_to "#modal-user-settings", title: t("setting") do %>
            <i class="gi gi-cogwheel"></i></a>
          <% end %>
          <%= link_to t("do_nothing"), title: t("logout") do %>
            <i class="gi gi-exit"></i></a>
          <% end %>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <span class="sidebar-header-title">
            <%= t "organization_manager" %>
          </span>
        </li>
        <li>
          <%= link_to manager_path do %>
            <i class="gi gi-leaf sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "dashboard" %></span></a>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-user sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide">
              <%= t "approve_club_request" %>
            </span>
          <% end %>
          <ul>
            <% @organizations.each do |organization| %>
              <li>
                <%= link_to manager_requests_path(organization: organization.id) do %>
                  <%= view_sidebar_club organization %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-user sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide">
              <%= t "member_request" %>
            </span>
          <% end %>
          <ul>
            <% @organizations.each do |organization| %>
              <li>
                <%= link_to manager_request_members_path(organization: organization.id) do %>
                  <%= view_side_bar_memeber organization %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-user sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide">
              <%= t "members" %>
            </span>
          <% end %>
          <ul>
            <% @organizations.each do |organization| %>
              <li>
                <%= link_to organization.name,
                 manager_members_path(organization: organization.id)
                  %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-building sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide">
              <%= t("club_of_my_company") %>
            </span>
          <% end %>
          <ul>
            <% @organizations.each do |organization| %>
              <li>
                <%= link_to organization.name,
                 manager_clubs_path(organization: organization.id)
                  %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
