<%= link_to t("back"), club_manager_club_path(@club.id),
  class: "btn btn-danger button-margin-bottom" %>
<% if @images.blank? %>
  <div class="block"><h1 class="text-center"><strong><b><%= t "club_manager.image.no_image" %></b></strong></h1></div>
<% else %>
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail border-non-image">
          <%= image_tag image.url, class: "image-gallery image-full" %>
          <div class="caption">
            <p class="text-center on-image">
              <%= link_to t("view"), "#{image.url}",
                class: "gallery-link btn btn-sm btn-alt btn-primary",
                title: image.name %>
              <%= link_to t("delete"),
                club_manager_club_album_image_path(id: image.id, album_id: @album.id, club_id: @album.club_id),
                method: :delete,
                dât: {confirm: t("club_manager.image.confirm_delete")},
                class: "btn btn-sm btn-alt btn-warning" %>
            </p>
            <p class="text-center">
              <%= truncate(image.name, length: Settings.truncate.album_name) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="text-center">
      <ul class="pagination pagination-lg">
         <%= paginate @images %>
      </ul>
    </div>
  </div>
<% end %>
