<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h2 class="modal-title"><i class="fa fa-camera"></i> <%= t "club_manager.album.create" %></h2>
    </div>
    <div class="modal-body">
      <%= form_for [:club_manager, @club, @album, @image], method: :post, html: {multipart: true, enctype: "multipart/form-data", class: "form-horizontal form-bordered"} do |f| %>
        <%= f.hidden_field :album_id, value: @album.id %>
        <fieldset>
          <legend><strong><%= t "club_manager.image.guide" %></strong></legend>
          <div class="form-group">
            <label class="col-md-3 control-label"><%= t "name" %></label>
            <div class="col-md-8">
              <%= f.text_field :name, placeholder: t("club_manager.image.name_holder"), class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="example-file-input"><%= t "club_manager.image.images" %></label>
            <div class="col-md-6">
              <%= f.file_field :url %>
            </div>
          </div>
        </fieldset>
        <div class="form-group form-actions">
          <div class="col-xs-12 text-right">
            <%= f.button t("close"), class: "btn btn-sm btn-warning","data-dismiss": "modal" %>
            <%= f.button t("save"), class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
