<div id="page-content">
  <div class="row breadcrumb breadcrumb-top">
      <li><%= t "admin" %></li>
      <li><%= link_to @album.name, t("do_nothing") %></li>
      <div class="row pull-right">
        <%= link_to "#modal-new-image", data: {toggle: "modal"}, class: "btn btn-sm btn-primary" do %>
          <i class="fa fa-camera"></i><%= t "club_manager.image.create" %>
        <% end %>
      </div>
  </div>
  <div class="row">
    <div class="block">
      <div class="gallery" data-toggle="lightbox-gallery">
        <%= render "list_image" %>
      </div>
    </div>
  </div>
</div>
<div id="modal-new-image" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <%= render "new_club_image" %>
</div>
