<!-- Landing Header -->
<div class="landing-page custom_landing">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div id="site-header-landing" class="header-landing">
          <%= link_to root_path, class: "logo" do %>
            <%= image_tag "logo.png", class: "img-responsive logo-page" %>
          <% end %>
          <span><strong class="version-beta"><%= t "beta" %></strong></span>
          <ul class="profile-menu">
            <li>
              <%= link_to t("home"), root_path %>
            </li>
            <li>
              <%= link_to t("more_tool"), Settings.tools_url, target: "_blank" %>
            </li>
            <%= render "shared/languages_nav" %>
            <li>
              <a href="#" class="js-expanded-menu">
                <svg class="olymp-menu-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-menu-icon") %>"></use></svg>
                <svg class="olymp-close-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-close-icon") %>"></use></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ... end Landing Header -->
  <!-- Login-Registration Form  -->
  <div class="container">
    <div class="row display-flex">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="landing-content">
          <h1><%= t "static_pages.index.title" %></h1>
          <p><%= t "static_pages.index.description" %></p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="registration-login-form" data-mh="log-tab">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                <svg class="olymp-login-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-login-icon") %>"></use></svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#home" role="tab">
                <svg class="olymp-register-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-register-icon") %>"></use></svg>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane" id="home" role="tabpanel" data-mh="log-tab">
              <%= render "registrations/new" %>
            </div>
            <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
              <%= render "authentications/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ... end Login-Registration Form  -->
