<div class="icon_chat">
  <span class="toggle-icon fa fa-weixin icon-chat"></span>
</div>
<div class="ui-block popup-chat custom_chatbox">
  <div class="ui-block-title toggle-chat">
    <span class="icon-status online"><i class="fa fa-close"></i></span>
    <h6 class="title"><%= @club.name %></h6>
  </div>
  <%= hidden_field_tag :num_message, {}, class: "num-step-message",
    value: @support.messages.size %>
  <div class="content-chat">
    <div class="mCustomScrollbar custom_content_chat" data-mcs-theme="dark"
      id="viewport-content">
      <% if @support.messages.size > Settings.chat_messages_limit %>
        <li class="text-center list-unstyled media-block">
        <a href="javascript:void(0)" class="load-more-message btn btn-default">
          <i class="fa fa-spinner"></i> <%= t "read_more" %>
        </a>
        </li><br>
      <% end %>
      <ul class="notification-list chat-message chat-message-field" id="list-messages">
        <%= render @support.messages %>
      </ul>
    </div>
    <%= form_for @message, remote: true, html: {class: "row row-chat"} do |f| %>
      <%= f.hidden_field :club_id, value: @club.id, id: "chat-box-club-id" %>
      <div class="form-group label-floating">
        <%= f.label(:content, t("type_your_message"), class: "control-label") %>
        <%= f.text_field :content, data: {behavior: "club_speaker"},
          class: "form-control chat-input" %>
        <div class="add-options-message">
          <%= f.submit t("send"), class: "options-message" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
