<div class="container-chat">
  <div class="panel-heading header-chat">
    <h4 class="panel-title center">
      <a data-toggle="collapse" data-parent="#panel-quote-group"
        href="#browser-window">
        <strong class="text-warning">
          <%= t "show_chat_box" %>
        </strong>
        <span class="toggle-icon fa fa-weixin icon-chat"></span>
      </a>
    </h4>
  </div>
  <div id="browser-window" class="panel-collapse collapse">
    <div class="header-chat toggle-chat">
      <div class="col-md-12">
        <div class="pull-right">
          <a data-toggle="collapse" data-parent="#panel-quote-group"
            href="#browser-window" class="pull-right">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <strong class="text-center">
          <div class="push-mini-bit"><%= @club.name %></div>
        </strong>
      </div>
    </div>
    <div class="panel-body">
      <div id="viewport">
        <div id="viewport-content">
          <div class="nano-content pad-all">
            <ul class="list-unstyled media-block" id="list-messages">
              <%= render @messages %>
            </ul>
          </div>
        </div>
      </div>
      <%= form_for @message, remote: true, html: {class: "row row-chat"} do |f| %>
        <%= f.hidden_field :club_id, value: @club.id, id: "chat-box-club-id" %>
        <div class="input-group">
          <%= f.text_field :content, data: {behavior: "club_speaker"},
            class: "form-control chat-input", placeholder: t("type_your_message") %>
          <span class="input-group-btn">
            <%= f.submit t("send"), class: "btn btn-primary chat-box-submit" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
