<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t "name" %></th>
      <th><%= t "description" %></th>
      <th class="text-center"><%= t "status" %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr class="tr-request-<%= request.id %>">
        <td class="text-center"><%= request.name %></td>
        <td class="text-center"><%= request.description %></td>
        <td class="text-center"><%= t("request_parent.#{request.status}") %></td>
      </tr>
    <% end %>
  </tfoot>
</table>
