<section class="site-section site-section-light site-section-top
  theme themed-background-dark">
  <div class="container">
    <h1 class="text-center animation-slideDown"><i class="fa fa-envelope"></i> <strong><%= t "contact_us" %></strong></h1>
  <h1 class="text-center animation-slideUp"><%= t "send_request_club" %></h1>
  </div>
</section>
<section class="site-content site-section">
  <div class="container">
    <div class="row row-items text-center">
      <div class="col-sm-3 animation-fadeIn">
        <a href="javascript:void(0)" class="circle themed-background">
          <i class="gi gi-life_preserver"></i>
        </a>
        <h4><%= t "open_a" %> <strong><%= t "ticket" %></strong></h4>
      </div>
      <div class="col-sm-3 animation-fadeIn">
        <a href="javascript:void(0)" class="circle themed-background">
          <i class="gi gi-envelope"></i>
        </a>
        <h4><strong><%= t "email" %></strong> <%= t "us" %></h4>
      </div>
      <div class="col-sm-3 animation-fadeIn">
        <a href="javascript:void(0)" class="circle themed-background">
          <i class="fa fa-comments"></i>
        </a>
        <h4><strong><%= t "chat" %></strong> <%= t "live" %></h4>
      </div>
      <div class="col-sm-3 animation-fadeIn">
        <a href="javascript:void(0)" class="circle themed-background">
          <i class="fa fa-twitter"></i>
        </a>
        <h4><strong><%= t "tweet" %></strong> <%= t "us" %></h4>
      </div>
    </div>
    <hr>
  </div>
</section>
