<div class="col-md-5 full-img">
  <%= image_tag club.image, class: "img-responsive" %>
</div>
<div class="col-md-7">
  <h3><strong><%= club.name %></strong></h3>
  <p class="fa fa-money">
    <%= t "money" %>:
    <%= club.money %>
  </p>
  <div class="mini-push-bit"></div>
  <p class="fa fa-users">
    <%= t "members_with_dot" %>
    <%= club.users.size %>
  </p><br>
  <small class="text-info"><%= club.description %></small>
</div>
