<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "club_management" %></li>
    <li><%= t "budgets_club" %></li>
  </ul>
  <div class="row">
    <div class="col-md-6">
      <div class="block">
        <div class="block-title">
          <h2><strong><%= t "event" %></strong></h2>
        </div>
        <div class="push-bit budgets-club-details">
          <%= render partial: "club_details", locals: {club: @club} if @club %>
        </div>
        <div class="row">
          <div class="col-md-10" >
            <label for="contact-name"><%= t "list_clubs" %></label><br>
          </div>
          <%= form_tag club_manager_club_budgets_path, class: "chosen-budget", remote: true do %>
            <div class="col-md-8" >
              <div class="form-group">
                <%= select_tag :club_id,
                  options_for_select(@clubs.collect{ |club| [club.name, club.id] }),
                  include_blank: t("select_one_club"), class: "select-chosen" %>
                <%= hidden_field_tag :month_of_payment, nil, class: "month-payment" %>
              </div>
            </div>
            <div class="col-md-2" >
              <button class="btn btn-info" type="submit">
                <i class="fa fa-download"></i>
                <%= t "get_data" %>
              </button>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-10">
              <div class="col-md-10">
                <div class="push-bit">
                  <label><%= t "members_payment" %>:</label>
                  <div class="members-budgeted">
                  </div><hr>
                </div>
              </div>
              <%= form_tag club_manager_budgets_path do %>
                <div class="col-md-6 form-group">
                  <%= hidden_field_tag :club_id, nil, class: "budgets-club" %>
                  <%= hidden_field_tag :user_ids, nil,
                    class: "input-tags budgeted-tag" %>
                  <label><%= t "amount_for" %>:</label>
                  <%= number_field_tag :amount, nil, required: true,
                    class: "form-control" %>
                </div>
                <div class="col-md-6 form-group">
                  <label><%= t "month_payment" %>:</label>
                  <%= text_field :month_of_payment, nil, required: true,
                    class: "month-budgets form-control" %>
                </div>
                <div class="col-md-12 form-group">
                  <label><%= t "description" %>:</label>
                  <%= text_area :description, nil, required: true, rows: 4,
                    class: "form-control" %>
                </div>
                <div class="col-md-12 form-group">
                  <button class="btn btn-info pull-right" type="submit">
                    <i class="fa fa-upload"></i>
                    <%= t "confirm" %>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div><br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="block-title">
          <h2><strong><%= t "select_user_settlement" %></strong></h2>
        </div>
        <div class="row">
          <div class="col-md-10 budgets-members">
            <%= render partial: "members", locals: {users: @users} if @users %>
          </div><br>
        </div><br>
      </div>
    </div>
  </div>
</div>
