<div class="row">
  <div class="col-md-12">
    <div class="block">
      <div class="block-title">
        <h2><strong><%= t "my_club" %></strong></h2>
      </div>
      <div class="block-content-full">
        <div class="table-responsive">
          <table id="example-datatable"
            class="table table-vcenter table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-center"><%= t "id" %></th>
                <th class="text-center"><i class="gi gi-building"></i></th>
                <th><%= t "name_club" %></th>
                <th><%= t "notification" %></th>
                <th><%= t "money" %></th>
                <th class="text-center"><%= t "view" %></th>
              </tr>
            </thead>
            <tbody>
              <% manager_of_club(current_user).each do |user_club| %>
                <tr>
                  <td class="text-center"><%= user_club.club_id %></td>
                  <td class="text-center"><%= image_tag user_club.logo,
                    class: "circle-profile-list" %></td>
                  <td><%= user_club.name %></a></td>
                  <td><%= user_club.notification %></td>
                  <td><%= user_club.money %></td>
                  <td class="text-center">
                    <%= link_to t("view"),
                      club_manager_club_path(user_club.club_id),
                      class: "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
