<%= render "request/header" %>
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-md-offset-2 site-block">
        <h3 class="h2 site-heading center"><strong><%= t "send" %></strong> <%= t "feed_back" %></h3>
        <%= form_for [:user, @feed_back], html: {id: "form-contact"} do |f|%>
          <div class="form-group">
            <label for="contact-message"><%= t "description" %></label>
            <%= f.text_area :content, class: "form-control input-lg", id: "contact-message",
              rows: 15, required: true, minlength: 20 %>
          </div>
          <div class="text-center">
            <label class="radio-inline">
              <input type="radio" name="type" value="3"><%= t "ui" %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" value="2"><%= t "process" %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" value="1"><%= t "website_content" %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" value="0" checked><%= t "other" %>
            </label>
          </div><br>
          <div class="form-group center">
            <%= f.submit t("send_request"), class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
