<div class="header-spacer header-spacer_custom"></div>
<section class="site-content site-section">
  <div class="container">
    <div class="row ui-block">
      <div class="col-sm-6 col-md-8 push-md-2 site-block">
        <h3 class="h2 site-heading center title_custom"><strong><%= t "send" %></strong> <%= t "feed_back" %></h3>
        <%= form_for [:user, @feed_back], html: {id: "form-contact"} do |f|%>
          <div class="form-group label-floating">
            <%= f.hidden_field :content %>
            <%= f.label(:description, t("description"), class: "control-label") %>
            <%= f.text_area :description, class: "form-control",
              id: "contact-message", rows: 10, required: true, minlength: 20%>
          </div>
          <div class="text-center radio_custom">
            <label class="radio-inline">
              <input type="radio" name="type" value="3"><%= t "ui" %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" value="2"><%= t "process" %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" value="1"><%= t "website_content" %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" value="0" checked><%= t "other" %>
            </label>
          </div><br>
          <div class="form-group center">
            <%= f.submit t("send_request"), class: "btn btn-secondary full-width" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
