<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="push-bit">
        <h1 class="text-center"><%= t "my_clubs" %></h1><br>
      </div>
      <div class="col-md-4 col-lg-3">
        <aside class="sidebar site-block">
          <div class="sidebar-block">
            <%= search_form_for @q,
              url: my_clubs_path,
               class: "form-horizontal" do |f| %>
              <div class="form-group push-bit">
                <div class="col-xs-12">
                  <div class="input-group" id="search-club-input">
                    <%= f.text_field :name_or_content_cont,
                      class: "form-control form-search-clubs",
                      placeholder: t("name_des") %>
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div><hr>
              <h4 class="text-center"><strong><%= t "filters" %></strong></h4>
              <div class="form-group">
                <div class="col-sm-8 col-md-12">
                  <%= select_tag :stype_organizations,
                    options_for_select(@organizations.map{|organization|
                      [organization.name, organization.id]}
                    .unshift([t("organization_filter"), nil]),
                     include_blank: true),
                    {class: "form-control stype-organizations"} %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8 col-md-12">
                  <%= select_tag :stype_clubs, options_for_select(
                    Club.club_types.map{|k, v| [t("#{k}"), v]}
                      .unshift([t("style_filter"), nil]),
                    include_blank: true),
                    {class: "form-control stype-clubs"} %>
                </div>
              </div><hr>
              <div class="form-group">
                <%= render "shared/rate_filter" %>
              </div><hr>
              <h4 class="-header text-center"><strong><%= t "sort_by" %></strong></h4>
              <div class="form-group">
                <div class="col-xs-8 col-md-12">
                  <%= select_tag :sort_clubs, options_for_select(
                    Settings.sort_clubs.map{|k, v| [t("#{k}"), v]}
                      .unshift([t("sort_clubs"), nil]),
                    include_blank: true),
                    {class: "form-control sort-clubs"} %>
                </div>
                <hr>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <%= link_to t("other_club"), clubs_path, class: "btn btn-danger
                    more-club" %>
                </div>
              </div>
            <% end %>
          </div>
        </aside>
      </div>
      <div class="col-md-8 col-lg-9" id="list-club-search">
        <% if current_user.user_organizations.joined.any? &&
          current_user.user_clubs.joined.any? %>
          <% if clubs.any? %>
            <%= render partial: "shared/list_club", locals: {clubs: clubs} %>
          <% else %>
            <h4 class="notifi-join center"><%= t "no_data" %></h4 >
          <% end %>
        <% else %>
          <h4 class="notifi-join"><%= t "no_data_club" %></h4 >
          <h4>
            <span><%= t "let_join" %></span>
            <%= link_to t("here"), clubs_path, target: :blank,
              class: "btn btn-danger" %>
          </h4>
          <h4>
            <i class="fa fa-hand-o-right"></i>
            <%= t "note_tags" %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
</section>
