<div class="header-spacer header-spacer_custom"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-9 push-xl-3 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block responsive-flex">
        <div class="ui-block-title">
          <div class="h6 title"><%= t "page_my_clubs.list_my_clubs" %></div>
        </div>
      </div>

      <% if current_user.user_organizations.joined.any? &&
        current_user.user_clubs.joined.any? %>
        <% if @clubs.any? %>
          <div class="row" id="list-club-search">
            <%= render "clubs/clubs", collection: @clubs %>
          </div>
        <% else %>
          <h6 class="notifi-join center"><%= t "no_data" %></h6 >
        <% end %>
      <% else %>
        <div class="ui-block pading_10">
          <h6 class="notifi-join text-center"><%= t "no_data_club" %></h6>
          <h6 class="text-center">
            <span><%= t "let_join" %></span>
            <%= link_to t("here"), clubs_path, target: :blank,
              class: "btn btn-danger btn-sm btn-suggest" %>
          </h6>
          <h6 class="text-center">
            <i class="fa fa-hand-o-right"></i>
            <%= t "note_tags" %>
          </h6>
        </div>
      <% end %>
    </div>

    <div class="col-xl-3 pull-xl-9 col-lg-12 pull-lg-0 col-md-12 col-sm-12 col-xs-12">
      <%= render "left_sidebar" %>
    </div>
  </div>
</div>
