<% @club_time_lines.each do |club| %>
  <% club.activities.each do |active| %>
    <% if active.trackable.present? %>
      <li class="media">
        <%= image_tag active.owner.avatar,
          class: "img-circle pull-left img-user-time-line" %>
        <div class="media-body">
          <p class="push-none">
              <span class="text-muted pull-right">
                <span class="text-success">
                  <i class="fa fa-globe"></i>
                </span>
              </span>
              <strong>
                <%= link_to active.owner.full_name, active.owner %>
                <%= t "has_been" %> <%= active.key %> <%= t "in_the" %>
                <span class="text-danger"><%= active.trackable.name %></span>
              </strong>
          </p>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>
