<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <%= link_to t("do_nothing") do %>
            <%= image_tag current_user.avatar %>
          <% end %>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <span class="sidebar-header-title"><%= t "clubs_manager" %></span>
        </li>
        <li>
          <%= link_to club_manager_path do %>
            <i class="gi gi-leaf sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "Dashboard" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-group sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "my_clubs" %></span>
          <% end %>
          <ul>
            <% manager_of_club(current_user).each do |user_club| %>
              <li>
                <%= link_to user_club.name, club_manager_club_path(user_club.club_id) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
