<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <%= link_to t("do_nothing") do %>
            <%= image_tag "placeholders/avatars/avatar2.jpg" %>
          <% end %>
        </div>
        <div class="sidebar-user-name"></div>
        <div class="sidebar-user-links">
          <%= link_to t("do_nothing"), title: t("profile") do %>
            <i class="gi gi-user"></i></a>
          <% end %>
          <%= link_to "#modal-user-settings", title: t("setting") do %>
            <i class="gi gi-cogwheel"></i></a>
          <% end %>
          <%= link_to t("do_nothing"), title: t("logout") do %>
            <i class="gi gi-exit"></i></a>
          <% end %>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <span class="sidebar-header-title"><%= t "clubs_manager" %></span>
        </li>
        <li>
          <%= link_to t("do_nothing") do %>
            <i class="gi gi-leaf sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "Dashboard" %></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-user sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "members" %></span>
          <% end %>
          <ul>
            <% manager_of_club(current_user).each do |club| %>
              <li>
                <%= link_to club.name, club_manager_club_members_path(club.club_id) %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-group sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "my_clubs" %></span>
          <% end %>
          <ul>
            <% manager_of_club(current_user).each do |club| %>
              <li>
                <%= link_to club.name, club_manager_club_path(club.club_id) %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-camera sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "clubs's_album" %></span>
          <% end %>
          <ul>
            <% manager_of_club(current_user).each do |club| %>
              <li>
                <%= link_to club.name, club_manager_club_albums_path(club.club_id) %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to t("do_nothing"), class: "sidebar-nav-menu" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="gi gi-gamepad sidebar-nav-icon"></i>
            <span class="sidebar-nav-mini-hide"><%= t "event" %></span>
          <% end %>
          <ul>
            <% manager_of_club(current_user).each do |club| %>
              <li>
                <%= link_to club.name, t("do_nothing") %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
