<div class="dropdown action-comment">
  <span class="dropdown-toggle" data-toggle="dropdown">
    <span class="fa fa-cog"></span>
  </span>
  <ul class="dropdown-menu comment-item">
    <li>
      <%= link_to "javascript:void(0)" do %>
        <span class="fa fa-pencil"> <%= t "edit" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to "javascript:void(0)" do %>
        <span class="fa fa-times"> <%= t "delete" %></span>
      <% end %>
    </li>
    <li class="no-border">
      <%= link_to "javascript:void(0)" do %>
        <span class="fa fa-reply"> <%= t "reply" %></span>
      <% end %>
    </li>
  </ul>
</div>
