<%= javascript_include_tag "club_manager/select_tag", "data-turbolinks-track": true %>
<div class="media-container">
  <section class="site-section site-section-light site-section-top">
    <div class="container club-manager-container description-club text-infomation text-infomation_custom">
      <h1 class="animation-slideDown">
        <strong><%= @club.name %></strong>
      </h1>
      <h3>
        <i class="fa fa-dollar"></i>
        <%= t "budget_now" %><%= number_to_vnd @club.money %>
      </h3>
      <p class="h3 animation-slideUp hidden-xs">
        <% unless @club.content.nil? %>
          <% if @club.content.length > Settings.club_description %>
            <%= @club.content.truncate(Settings.club_description).html_safe %>
            <%= link_to "#modal-club-description", data: {toggle: "modal"},
              class: "btn btn-xs btn-default animation-fadeIn360" do %>
              <i class="fa fa-plus "></i> <%= t "more" %>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="container"></div>
  </section>
  <%= image_tag @club.image, class: "media-image animation-pulseSlow" %>
</div>
<div class="col-md-12 main-menu-manager">
  <div class="pull-left col-md-6">
    <div>
      <h4><strong><%= t "add_member" %></strong>
        <%= link_to "#modal-club-add-user", data: {toggle: "modal"},
          class: "btn btn-sm btn-danger animation-fadeIn360" do %>
          <i class="fa fa-plus "></i> <%= t "add" %>
        <% end %>
      </h4>
    </div>
  </div>
  <div class="col-md-6 modal-right-club">
    <div class="pull-right">
      <%= link_to "#modal-club-edit", data: {toggle: "modal"},
        class: "btn btn-sm btn-primary animation-fadeIn360" do %>
        <i class="fa fa-pencil "></i><%= t "edit_club" %>
      <% end %>
      <%= link_to "#modal-plan-law-club", data: {toggle: "modal"},
        class: "btn btn-sm btn-info animation-fadeIn360" do %>
        <i class="fa fa-pencil-square-o"></i> <%= t "plan_law" %>
      <% end %>
      <%= link_to "#modal-edit-rule-club", data: {toggle: "modal"},
        class: "btn btn-sm btn-info animation-fadeIn360" do %>
        <i class="fa fa-pencil-square-o"></i> <%= t "edit_rule" %>
      <% end %>
    </div>
  </div>
</div>
<div class="block">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <%= link_to t("events"), "#events", data: {toggle: "tab"} %>
    </li>
    <li role="presentation">
      <%= link_to "#members", data: {toggle: "tab"} do %>
        <%= t("members") %>
        <span class="label label-primary label-indicator
          animation-floating">
          <%= @support.members.joined.size %>
        </span>
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to "#manager", data: {toggle: "tab"} do %>
        <%= t("manager") %>
        <span class="label label-primary label-indicator
          animation-floating">
          <%= @support.members.manager.size %>
        </span>
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to "#request", data: {toggle: "tab"} do %>
        <%= t("request") %>
        <span class="label label-primary label-indicator
          animation-floating">
          <%= @support.members.pending.size %>
        </span>
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to t("albums"), "#albums", data: {toggle: "tab"} %>
    </li>
    <li role="presentation">
      <%= link_to t("history_budget"), "#history_budget", data: {toggle: "tab"} %>
    </li>
  </ul>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="events">
          <div class="row block">
            <%= render "club_event" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="members">
          <div class="row block">
            <%= render partial: "list_member",
              locals: {members: @support.members.joined} %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="manager">
          <div class="row block">
            <%= render partial: "list_member",
              locals: {members: @support.members.manager} %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="request">
          <div class="row block">
            <%= render partial: "list_member",
              locals: {members: @support.members.pending} %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="albums">
          <div class="row block">
            <%= render "list_albums" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="history_budget">
          <div class="row block">
            <%= render partial: "history_budget", locals: {events: @support.history_budget} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-club-edit" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <%= render "popups/edit_club_detail" %>
</div>
<div id="modal-club-add-user" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <%= render "popups/list_user_organization" %>
</div>
<div id="modal-club-description" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <%= render "popups/location" %>
</div>
<div id="modal-edit-rule-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <%= render "popups/edit_rule_club" %>
</div>
<div id="modal-plan-law-club" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <%= render "popups/edit_plan_law_club" %>
</div>
