<%= form_for [:dashboard, @club, key],
  html: {multipart: true, enctype: "multipart/form-data",
  class: "form-horizontal form-bordered"} do |f| %>
  <%= f.hidden_field :club_id, value: @club.id %>
  <fieldset>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= t "name" %></label>
      <div class="col-md-8">
        <%= f.text_field :name, placeholder: t("club_manager.album.name_holder"), class: "form-control" %>
      </div>
    </div>
  </fieldset>
  <div class="form-group form-actions">
    <div class="col-xs-12 text-right">
      <%= f.button t("close"), class: "btn btn-sm btn-warning","data-dismiss": "modal" %>
      <%= f.button t("save"), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
