<div class="block">
  <div id="page-content">
    <div class="block full">
      <div class="block-title">
        <% if @club.nil? %>
          <h2>
            <strong><%= t "members_of" %><%= organization.name %></strong>
          </h2>
        <% else %>
          <h2><strong><%= t "members_of" %><%= @club.name %></strong></h2>
        <% end %>
      </div>
      <div class="table-responsive">

        <table id="example-datatable"
          class="table table-vcenter table-condensed table-bordered">
          <thead>
            <tr>
              <th class="text-center"><%= t "id" %></th>
              <th class="text-center"><i class="gi gi-user"></i></th>
              <th><%= t "user_name" %></th>
              <th><%= t "email" %></th>
              <th><%= t "phone" %></th>
              <th class="text-center"><%= t "view_profile" %></th>
            </tr>
          </thead>
          <tbody>
            <% users.each do |member| %>
              <tr>
                <td class="text-center"><%= member.id %></td>
                <td class="text-center"><%= image_tag member.avatar,
                  class: "circle-profile-list" %></td>
                <td>
                  <%= member.full_name %>
                </td>
                <td><%= member.email %></td>
                <td><%= member.phone %></td>
                <td class="text-center">
                  <%= link_to t("view"), dashboard_member_path(id: member.id,
                    organization: organization.id),
                    class: "btn btn-primary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
