<%= form_for [:club_manager, @club, @event, @news],
  html: {multipart: true, enctype: "multipart/form-data",
    class: "form-horizontal form-bordered"} do |f| %>
  <div class="form-group">
    <label class="col-md-2 control-label" for="example-text-input">
      <%= t "club_manager.news.title" %>
    </label>
    <div class="col-md-8">
      <%= f.text_field :title, placeholder: t("club_manager.news.title_holder"),
        class: "form-control" %>
      <span class="help-block"><%= t "club_manager.news.title_guide" %></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="example-file-input">
      <%= t "club_manager.news.images" %></label>
    <div class="col-md-6">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="example-textarea-input">
      <%= t "club_manager.news.content" %>
    </label>
    <div class="col-md-8">
      <%= f.text_area :content,
        class: "form-control ckeditor", id: "ckeditor",
        placeholder: t("club_manager.news.content") %>
    </div>
  </div><br>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <%= f.submit t("submit"), class: "btn btn-sm btn-primary" %>
      <%= button_tag t("reset"), type: :reset, class: "btn btn-sm btn-warning" %>
    </div>
  </div>
<% end %>
