<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%=  t "admin" %></li>
    <li><%= link_to @event.name, club_manager_club_event_path(id: @event.id) %>
    <li>
      <%= link_to t("club_manager.news.new"),
        new_club_manager_club_event_news_path(event_id: @event.id) %>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="block">
          <div class="block-title">
            <h2><strong><%= t "club_manager.news.new" %></strong></h2>
          </div>
          <%= render "form_news" %>
        </div>
      </div>
      <div class="col-md-1"></div>
  </div>
</div>
