<div class="row block">
  <div class="col-md-6 full-img" >
    <%= image_tag @event.image %>
  </div>
  <div class="col-md-6 " >
    <i class="fa fa-map-dolar">
      <strong><%= @event.name %></strong>
    </i><br><hr>
    <strong><%= t "value" %>
      </strong class="pull-right">
      <%= number_to_currency(@event.expense, locale: :vi) %><hr>
    <i class="fa fa-map-marker">
      <strong><%= t "detail" %></strong>
      <%= @event.description.html_safe %>
    </i><br><hr>
    <%= link_to edit_club_manager_club_event_path(id: @event.id),
      class: "btn btn-nm btn-primary" do %>
      <i class="fa fa-pencil"> <%= t "edit" %></i>
    <% end %>
  </div>
</div><hr>
<div id="page-content block">
  <div class="row block">
    <div class="col-md-6">
      <div class="block">
        <div class="block-title">
          <h2><strong><%= t "done_budget" %></strong></h2>
        </div>
        <div class="row">
          <div class="col-md-12 budgets-members">
            <%= render partial: "members_done", locals: {users: @users_done}%>
          </div><br>
        </div><br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="block-title">
          <h2><strong><%= t "no_budget" %></strong></h2>
        </div>
        <div class="row">
          <div class="col-md-12 budgets-members">
            <%= render partial: "members_yet", locals: {users: @users_yet,
              event: @event} %>
          </div><br>
        </div><br>
      </div>
    </div>
  </div>
</div>
