<%= form_for [:club_manager, @club, @event],
  html: {multipart: true, enctype: "multipart/form-data",
  class: "form-horizontal form-bordered"} do |f| %>
  <%= f.hidden_field :club_id, value: @club.id %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-text-input">
      <%= t "club_manager.event.type" %>
    </label>
    <div class="col-md-7">
      <%= f.select(:event_category, options_for_select(
        [[t("pay_money"), Event.event_categories[:pay_money]],
        [t("get_money"), Event.event_categories[:get_money]],
        [t("subsidy"), Event.event_categories[:subsidy]],
        [t("notification"), Event.event_categories[:notification]]],
        if params[:type].present?
          {selected: params[:type]}
        else
          {selected: Event.event_categories[@event.event_category]}
        end), {},
        class: "form-control", disabled: true) %>
        <%= f.hidden_field :event_category,
          value: params[:type] || Event.event_categories[@event.event_category] %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label required" for="example-text-input">
      <%= t "name" %>
    </label>
    <div class="col-md-7">
      <%= f.text_field :name, class: "form-control",
        placeholder: t("club_manager.event.event_name") %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-text-input">
      <%= t "club_manager.event.status" %>
    </label>
    <div class="col-md-7">
      <%= f.radio_button :status, Settings.inprocess, checked: @event.inprocess? %>
      <%= f.label :status_in_procress, t("inprocess") %>
      <%= f.radio_button :status, Settings.finished, checked: @event.finished? %>
      <%= f.label :status_finished, t("finished") %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
  </div>
  <% if params[:type].to_i == Event.event_categories["notification"] %>
    <%= f.hidden_field :expense, value: nil %>
  <% else %>
    <div class="form-group">
      <label class="col-md-3 control-label" for="example-text-input">
        <%= t "amount_for" %>
      </label>
      <div class="col-md-7">
        <%= f.number_field :expense, class: "form-control",
          placeholder: t("club_manager.event.expense_holder") %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-text-input">
      <%= t "location" %>
    </label>
    <div class="col-md-7">
      <%= f.text_field :location, class: "form-control",
        placeholder: t("club_manager.event.location_holder") %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-text-input">
      <%= t "club_manager.event.start" %>
    </label>
    <div class="col-md-7">
      <div class="input-group" data-date-format="dd/mm/yyyy">
          <%= f.date_field :date_start, class: "form-control text-center",
            placeholder: t("club_manager.event.day_start") %>
          <span class="input-group-addon">
            <i class="fa fa-angle-right"></i>
          </span>
          <%= f.date_field :date_end, class: "form-control text-center",
            placeholder: t("club_manager.event.day_end") %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-file-input">
      <%= t "club_manager.event.image" %>
    </label>
    <div class="col-md-7">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="example-textarea-input">
      <%= t "description" %>
    </label>
    <div class="col-md-7">
      <%= f.cktext_area :description, rows: Settings.new_description,
        class: "form-control",
        placeholder: t("club_manager.event.description") %>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-md-9 col-md-offset-5">
      <%= f.submit t("submit"), class: "btn btn-sm btn-primary" %>
      <%= button_tag t("reset"), type: :reset,
        class: "btn btn-sm btn-warning" %>
    </div>
  </div>
<% end %>
