<div class="block">
  <div class="block-title">
    <h2><strong><%= t "list_news" %></strong></h2>
  </div>
  <div class="row">
    <% @event.news.each do |news| %>
      <div class="row form-group">
        <div class="col-sm-5 text-center full-img-new">
          <%= image_tag news.image %>
        </div>
        <div class="col-sm-7">
          <h4><b><%= news.title %></b></h4>
          <%= news.content.truncate_words Settings.new_detail %>
        </div>
      </div><hr>
    <% end %>
  </div>
  <% if @event.news.size > Settings.event_new  %>
    <div class="text-center">
      <%= link_to t "view_more", t("do_nothing") %>
    </div>
  <% end %>
</div>
