<% if @events.blank? %>
  <div class="block"><h1 class="text-center"><strong><b><%= t "club_manager.event.no_event" %></b></strong></h1></div>
<% else %>
  <div class="row">
    <% @events.each do |event|%>
      <% if event.finished? %>
        <div class="col-md-4 finished">
      <% else  %>
        <div class="col-md-4">
      <% end %>
        <div class="widget border">
          <div class="widget-advanced widget-advanced-alt">
            <div class="widget-header text-left">
              <%= image_tag event.image,
                class: "widget-background img-header animation-pulseSlow" %>
              <h3 class="widget-content widget-content-image widget-content-light clearfix">
                <%= image_tag "logo.png", class: "widget-image pull-right" %>
                <%= link_to event.name, club_manager_club_event_path(id: event.id),
                  class: "themed-color-autumn" %><br>
                <small>
                  <%= l event.date_start, format: :date %>
                  <%= t("club_manager.event.to") %>
                  <%= l event.date_end, format: :date %>
                </small>
              </h3>
              <div class="widget-options-left">
                <%= link_to edit_club_manager_club_event_path(id: event.id),
                  class: "btn btn-nm btn-warning" do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              </div>
              <div class="widget-options">
                <% if event.finished? %>
                  <%= link_to t("do_nothing"),
                    class: "btn btn-nm btn-primary", title: t("finished") do %>
                    <i class="fa fa-check"></i>
                  <% end %>
                <% else %>
                  <%= link_to t("do_nothing"), method: :patch,
                    class: "btn btn-nm btn-warning", title: t("inprocess") do %>
                    <i class="fa fa-step-forward"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="widget-main">
              <div class="row text-center animation-fadeIn">
                <div class="col-xs-4">
                  <h3>
                    <strong class="themed-color-autumn move-left">
                      <%= event.num_like %>
                    </strong><br>
                    <i class="fa fa-heart color-red"></i>
                  </h3>
                </div>
                <div class="col-xs-4">
                  <h3>
                    <strong class="themed-color-autumn">
                      <%= event.user_events.size %>
                    </strong><br>
                    <small><%= t "club_manager.event.joined" %></small>
                  </h3>
                </div>
                <div class="col-xs-4">
                  <h3>
                    <strong class="themed-color-autumn">
                      <%= event.expense %>
                    </strong><br>
                    <small><%= t "club_manager.event.expense" %></small>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="text-center">
      <ul class="pagination pagination-lg">
         <%= paginate @events %>
      </ul>
    </div>
  </div>
<% end %>
