<div class="table-responsive">
  <table id="example-datatable2"
    class="table table-vcenter table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center"><i class="fa fa-user-o"></i></th>
        <th class="text-center"><%= t "full_name" %></th>
        <th><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr class="data-<%= user.id %>">
          <td><%= image_tag user.avatar,
            class: "img-responsive img-budgets-member" %></td>
          <td><%= user.full_name %></td>
          <td class="center">
            <%= link_to t("delete"),
              club_manager_club_club_budget_path(
              user_id: user.id,event_id: @event.id ), method: :delete,
              data: {confirm: t("confirm_delete_budget")},
              class: "btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
