<div class="table-responsive">
  <table id=""
    class="table table-vcenter table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center"><i class="fa fa-user-o"></i></th>
        <th class="text-center"><%= t "full_name" %></th>
        <th><%= t "email" %></th>
        <th><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= form_tag club_manager_club_club_budgets_path(
      club_id: @club.id), method: :get do %>
        <% users.each do |user| %>
          <tr class="data-<%= user.id %>">
            <td><%= image_tag user.avatar,
              class: "img-responsive img-budgets-member" %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td class="center">
              <label class="">
                <%= check_box_tag("users[]", user.id, false) %>
                <span></span>
              </label>
            </td>
            <%= hidden_field_tag :event_id, event.id %>
          </tr>
        <% end %>
        <%= submit_tag t("confirm"), class: "btn btn-danger" %>
      <% end %>
    </tbody>
  </table>
</div>
