<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li>
      <%= link_to t("back"), club_manager_club_path(@club.id),
        class: "btn btn-danger" %>
    </li>
    <li><%= t "admin" %></li>
    <li><%= link_to @event.name, t("do_nothing") %></li>
  </ul>
  <div class="row">
    <% if @event.notification? %>
      <div class="col-md-6">
        <%= render "list_joined_member" %>
      </div>
      <div class="col-md-6">
        <div class="block">
          <div class="block-title">
            <h2><strong><%= @event.name %></strong></h2>
            <div class ="pull-right btn-group">
              <%= link_to edit_club_manager_club_event_path(id: @event.id, type: Event.event_categories["notification"]),
                class: "btn btn-nm btn-primary" do %>
                <i class="fa fa-pencil"> <%= t "edit" %></i>
              <% end %>
            </div>
          </div>
          <div class="row"  >
            <div class="col-md-6 full-img" >
                <%= image_tag @event.image %>
            </div>
          <div class="col-md-6" >
            <i class="fa fa-map-marker">
              <strong><%= t "club_manager.event.show_location" %></strong>
              <%= @event.location %>
            </i><br><hr>
            <% if @event.date_start.present? && @event.date_end.present? %>
              <i class="fa fa-calendar">
                <strong><%= t "club_manager.event.show_date_start" %></strong>
                <%= l @event.date_start, format: :date %>
              </i><br><hr>
              <i class="fa fa-clock-o">
                <strong><%= t "club_manager.event.show_date_end" %></strong>
                <%= l @event.date_end, format: :date %>
              </i><br><hr>
            <% end %>
            <i class="fa fa-clock-o">
              <strong><%= t "event_status" %></strong>
              <% if @event.finished? %>
                <%= t "finished" %>
              <% else %>
                <%= t "inprocess" %>
              <% end %>
            </i><br>
            </div>
          </div><hr>
          <div class="row" >
            <div class="col-md-10 col-md-offset-1 site-block">
              <%= @event.description.html_safe %>
            </div>
          </div><hr>
        </div>
      </div>
    <% elsif @event.get_money? %>
      <%= render "detail_get_money" %>
    <% else %>
      <%= render "detail_pay_money" %>
    <% end %>
  </div>
</div>
