<%= render "request/header" %>
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-md-offset-2 site-block">
        <h3 class="h2 site-heading center"><strong><%= t "request" %></strong> <%= t "club" %></h3>
        <%= form_for [:user, @request], html: {id: "form-contact"} do |f|%>
          <div class="form-group">
            <label for="contact-name"><%= t "organization_sign" %></label><br>
            <%= f.select(:organization_id, @organizations.collect {|org| [ org.name, org.organization_id ]}, {}, {class: "form-control" }) %>
            <label class="push-left"><%= t "organization_question" %></label>
            <%= link_to t("click_here"), new_user_organization_request_path(user_id: current_user.id) %>
          </div>
          <div class="form-group">
            <label for="contact-name"><%= t "club_name" %></label>
            <%= f.text_field :name, placeholder: t("club_name"),
              class: "form-control input-lg", id: "contact-name" %>
          </div>
          <div class="form-group">
            <label for="contact-name"><%= t "type_club" %></label></br  >

            <%= f.select(:club_type, options_for_select(
              ClubRequest.club_types.map{|k, v| [t("#{k}"), v]}), {},
              {class: "form-control"}) %>
          </div>
          <div class="form-group Logo-club">
            <div class="row">
              <div class="col-md-4">
                <label for="contact-email"><%= t "logo_club" %></label>
                <%= f.file_field :logo, id: "file-upload" %>
              </div>
              <div class="spacing"></div>
              <div class="col-md-8">
                <%= image_tag "flogo.png", class: "img-height-100", id: "img-upload" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="contact-message"><%= t "description" %></label>
            <%= f.text_area :description, placeholder: t("description_request"),
              class: "form-control input-lg", id: "contact-message", row: 10  %>
          </div>
          <div class="form-group center">
            <%= f.submit t("send_request"),
              class: "btn btn-primary send-request-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
