<%= render "request/header" %>
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-6 col-md-8 col-md-offset-2 site-block">
          <h3 class="h2 site-heading center">
            <strong><%= t "request" %></strong> <%= t "club" %>
          </h3>
          <%= form_for [:user, @request], html: {id: "form-contact"} do |f|%>
            <div class="form-group col-md-12">
              <label for="contact-name"><%= t "organization_sign" %></label>
              <br>
              <%= f.select(:organization_id, @organizations.collect {|org| [ org.name, org.organization_id ]}, {}, {class: "form-control" }) %>
              <label class="push-left"><%= t "organization_question" %></label>
              <%= link_to t("click_here"), new_user_organization_request_path(user_id: current_user.id) %>
            </div>
            <div class="form-group col-md-12">
              <label for="contact-name"><%= t "club_name" %>
                <span class="text-danger">*</span>
              </label>
              <%= f.text_field :name, placeholder: t("club_name"),
                class: "form-control input-lg", id: "contact-name" %>
            </div>
            <div class="col-md-6">
              <label for="contact-name"><%= t "type_club" %></label></br>
              <%= f.select(:club_type, options_for_select(
                ClubRequest.club_types.map{|k, v| [t("#{k}"), v]}), {},
                {class: "form-control"}) %>
            </div>
            <div class="col-md-6">
              <label for="contact-name"><%= t "member_count" %>
                <span class="text-danger">*</span>
              </label></br>
              <%= f.number_field :member, placeholder: t("member_count"),
                class: "form-control", id: "contact-name", min: 0 %>
            </div>
            <div class="form-group col-md-12 logo-club">
              <div class="row">
                <div class="col-md-4">
                  <label for="contact-email"><%= t "logo_club" %></label>
                  <%= f.file_field :logo, id: "file-upload" %>
                </div>
                <div class="spacing"></div>
                <div class="col-md-8">
                  <%= image_tag "flogo.png", class: "img-height-100", id: "img-upload" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="contact-message"><%= t "content_club" %>
                <span class="text-danger">*</span>
              </label>
              <%= f.text_area :content, placeholder: t("content_club"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-12">
              <label for="contact-message"><%= t "goal_club" %>
                <span class="text-danger">*</span>
              </label>
              <%= f.text_area :goal, placeholder: t("goal_club"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-12">
              <p><label for="contact-message"><%= t "time_club" %></label></p>
              <div class="days-selector">
                <% for day in I18n.t('date.day_names') %>
                  <%= check_box_tag 'club_request[time_activity][]',
                    day %>
                  <label><%= day %></label>
                <% end %>
              </div>
            </div>
            <div class="col-md-6">
              <label for="contact-message"><%= t "time_join" %></label>
              <%= f.text_area :time_join, placeholder: t("time_join"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-6">
              <label for="contact-message"><%= t "local_club" %></label>
              <%= f.text_area :local, placeholder: t("local_club"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-6">
              <label for="contact-message"><%= t "rules_club" %></label>
              <%= f.text_area :rules, placeholder: t("rules_club"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-6">
              <label for="contact-message"><%= t "rule_finance" %></label>
              <%= f.text_area :rule_finance, placeholder: t("rule_finance"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-6">
              <label for="contact-message"><%= t "punishment" %></label>
              <%= f.text_area :punishment, placeholder: t("punishment"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="col-md-6">
              <label for="contact-message"><%= t "plan" %></label>
              <%= f.text_area :plan, placeholder: t("plan"),
                class: "form-control input-lg", id: "contact-message", row: 10  %>
            </div>
            <div class="form-group center">
              <%= f.submit t("send_request"),
                class: "btn btn-primary send-request-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
