<div class="header-spacer header-spacer_custom"></div>
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ui-block">
        <div class="col-sm-6 col-md-6 push-md-3">
          <h3 class="h2 site-heading center title_custom">
            <strong><%= t "request" %></strong> <%= t "club" %>
          </h3>
          <div class="hr-center-line-div"></div>
          <%= form_for [:user, @request], html: {id: "form-contact"} do |f|%>
            <div class="form-group col-md-12 new-organization">
              <label for="contact-name"><%= t "organization_sign" %></label>
              <br>
              <%= f.select(:organization_id, @organizations.collect {|org| [ org.name, org.organization_id ]}, {}, {class: "form-control select_custom" }) %>
              <label class="push-left"><%= t "organization_question" %></label>
              <%= link_to t("click_here"), new_user_organization_request_path(user_id: current_user.id) %>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:name, class: "control-label") do %>
                  <%= t("club_name") %>
                  <span class="text-danger">*</span>
                <% end %>
                <%= f.text_field :name, class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-12">
              <label for="contact-name"><%= t "type_club" %></label></br>
              <%= f.select(:club_type, options_for_select(
                ClubRequest.club_types.map{|k, v| [t("#{k}"), v]}), {},
                {class: "form-control select_custom"}) %>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:member, class: "control-label") do %>
                  <%= t("member_count") %>
                  <span class="text-danger">*</span>
                <% end %>
                <%= f.number_field :member, class: "form-control", required: true %>
              </div>
            </div>
            <div class="form-group col-md-12 logo-club">
              <div class="row">
                <div class="col-md-4">
                  <label for="contact-email"><%= t "logo_club" %></label>
                  <%= f.file_field :logo, id: "file-upload" %>
                </div>
                <div class="spacing"></div>
                <div class="col-md-8">
                  <%= image_tag "flogo.png", class: "img-height-100", id: "img-upload" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:content, class: "control-label") do %>
                  <%= t("content_club") %>
                  <span class="text-danger">*</span>
                <% end %>
                <%= f.text_area :content, class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:goal, class: "control-label") do %>
                  <%= t("goal_club") %>
                  <span class="text-danger">*</span>
                <% end %>
                <%= f.text_area :goal, class: "form-control", required: true %>
              </div>
            </div>
            <div class="col-md-12">
              <p><label for="contact-message"><%= t "time_club" %></label></p>
              <div class="days-selector">
                <% for day in I18n.t("date.day_names") %>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "club_request[time_activity][]", day %>
                      <%= day %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-12">
               <div class="form-group label-floating">
                <%= f.label(:time_join, t("time_join"), class: "control-label") %>
                <%= f.text_area :time_join, class: "form-control", row: 10 %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:time_join, t("local_club"), class: "control-label") %>
                <%= f.text_area :time_join, class: "form-control", id: "contact-message", row: 10%>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:rules, t("rules_club"), class: "control-label") %>
                <%= f.text_area :rules, class: "form-control", id: "contact-message", row: 10%>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:rule_finance, t("rule_finance"), class: "control-label") %>
                <%= f.text_area :rule_finance, class: "form-control", id: "contact-message", row: 10%>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:punishment, t("punishment"), class: "control-label") %>
                <%= f.text_area :punishment, class: "form-control", id: "contact-message", row: 10%>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:plan, t("plan"), class: "control-label") %>
                <%= f.text_area :plan, class: "form-control", id: "contact-message", row: 10%>
              </div>
            </div>
            <div class="form-group center">
              <%= f.submit t("send_request"),
                class: "btn btn-secondary full-width" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
