<div class="title h6"><%= t "session.title" %></div>
<%= form_for(:user, as: :user, html:{class: "content"}, url: session_path(:user)) do |f| %>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="form-group label-floating">
        <%= f.label(:email, t("email"), class: "control-label") %>
        <%= f.text_field :email, class: "form-control", autofocus: true %>
      </div>
      <div class="form-group label-floating">
        <%= f.label(:password, t("password"), class: "control-label") %>
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="remember">
        <div class="checkbox">
          <label>
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            <% end %>
          </label>
        </div>
        <%= link_to t("forget_password"), new_user_password_path, class: "forgot" %>
      </div>
      <%= f.submit t("login"), class: "btn btn-lg btn-primary btn-log full-width" %>
      <%= link_to user_framgia_omniauth_authorize_path, class: "btn btn-login" do %>
        <%= image_tag "icon-wsm.png", class: "icon" %>
        <span class="name"><%= t("login_with_wsm") %></span>
      <% end %>
    </div>
  </div>
<% end %>
