<% if notification.trackable.present? %>
  <div class="notifyBody notification-<%= notification.read %>"
  data-link="<%= url_notification(notification) %>" data-link-target="new" id="notify-id-<%= notification.id %>"
  data-id="<%= notification.id %>">
    <div class="rows">
      <div class="col-md-3 notify-content image-notifi">
        <%= option_image(notification) %>
      </div>
      <div class="col-md-8 notify-content notifi">
        <span>
          <strong><%= notification.owner_full_name %></strong>
          <%= t "has_been" %>
          <%= t notification.key.try(:downcase) %>
          <%= t notification.trackable_type.try(:downcase) %>:
          <strong><%= notification.trackable_name %></strong>
          <% if notification.container %>
            <%= t "in_the" %>
            <%= t notification.container_type.try(:downcase) %>
            <strong><%= notification.container_name %></strong>
          <% end %>
        </span>
      </div>
    </div>
    <div class="bot-border"></div>
  </div>
<% end %>
