<% if notification.trackable.present? %>
  <li>
    <div class="author-thumb">
      <%= option_image(notification) %>
    </div>
    <div class="notification-event">
      <div>
        <a href="#" class="h6 notification-friend"><%= notification.owner_full_name %></a>
        <%= t "has_been" %><%= t notification.key.try(:downcase) %>
        <%= t notification.trackable_type.try(:downcase) %>: <a href="#" class="notification-link"><%= notification.trackable_name %></a>
        <% if notification.container %>
          <%= t "in_the" %>
          <%= t notification.container_type.try(:downcase) %>
          <strong><%= notification.container_name %></strong>
        <% end %>
      </div>
    </div>
      <span class="notification-icon">
        <svg class="olymp-comments-post-icon"><use xlink:href="./assets/icons/icons.svg#olymp-comments-post-icon"></use></svg>
      </span>

    <div class="more">
      <svg class="olymp-three-dots-icon"><use xlink:href="./assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
      <svg class="olymp-little-delete"><use xlink:href="./assets/icons/icons.svg#olymp-little-delete"></use></svg>
    </div>
  </li>
<% end %>
