<%= stylesheet_link_tag "organization-details",
  media: "all", "data-turbolinks-track": "reload" %>
<section class="site-section site-section-light themed-background-dark">
</section>
<section class="site-content">
  <div class="container" id="main">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div id="sidebar">
          <div class="user">
            <div class="text-center">
              <%= image_tag @user.avatar,
                class: "img-circle org-img-details", id: "img-upload" %>
            </div>
            <div class="user-head">
              <h1><%= @user.full_name %></h1>
              <div class="hr-center"></div>
              <div class="push-mini-bit"></div>
              <h5><%= t "number_organization" %>:
                <%= @organizaitons.size %>
              </h5>
              <% @organizaitons.each do |organization| %>
                <%= link_to(image_tag(organization.logo,
                  title: organization.name,
                  class: "usr-img-details"), organization) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <% if (current_user.tag_list.any?) && (current_user.is_user?@user) %>
            <h4><i class="gi gi-lightbulb"></i><strong><%= t "club_suggest" %></strong></h4>
            <div class="suggest-club">
              <% if current_user.tags_clubs.any? %>
                <% if club_suggest_user_tag.any? %>
                  <% club_suggest_user_tag.each do |club| %>
                    <%= link_to club_path(club.id), target: "_blank" do %>
                      <i class="gi gi-brightness_reduce"></i>
                      <%= club.name %></br>
                    <% end %>
                  <% end %>
                <% else %>
                  <i class="fa fa-hand-o-right"></i>
                  <strong class="notifi-suggest">
                    <%= t "not_club_conformity_now" %>
                  </strong>
                <% end %>
              <% else %>
                <i class="fa fa-hand-o-right"></i>
                <strong>
                  <%= t "not_club_conformity" %>
                </strong>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div id="content">
          <div class="main-content">
            <ul class="timeline">
              <li id="id-profile">
                <div class="timeline-badge default">
                  <i class="fa fa-user"></i>
                </div>
                <h1 class="timeline-head"><%= t "user_details" %></h1>
              </li>
              <li id="profile">
                <div class="timeline-badge primary"></div>
                <div class="timeline-panel">
                  <h1>
                    <strong><%= @user.full_name %></strong>
                  </h1><hr>
                  <h4><strong><%= t "phone" %>:</strong>
                    <%= @user.phone %>
                  </h4>
                  <div class="hr-left"></div>
                  <h4><strong><%= t "email" %>:</strong>
                    <%= @user.email %>
                  </h4>
                  <div class="hr-left"></div>
                  <h4><strong><%= t "number_club_joined" %>:</strong>
                    <%= @user.user_clubs.joined.size %>
                  </h4>
                  <div class="hr-left"></div>
                  <% if current_user.is_user?@user %>
                    <%= render "users/form_edit" %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
