<h1><%= t("edit_profile") %></h1>
<hr>
<%= form_for @user, html: {multipart: true} do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <%= image_tag @user.avatar.to_s, class: "circle" %>
        <h4><%= t("user.avatar_change") %></h4>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-9">
      <h3><%= t("user.info") %></h3>
        <div class="col-lg-11 right">
          <%= f.label :full_name %>
          <%= f.text_field :full_name, class: "form-control" %>

          <%= f.label :phone %>
          <%= f.text_field :phone, class: "form-control" %>

          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>

          <%= f.label :chatwork %>
          <%= f.text_field :chatwork, class: "form-control" %>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.label :confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        <br></div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <%= f.submit t("save_changes"), class: "btn btn-default" %>
          <span></span>
          <%= button_to t("cancel"), class: "btn btn-default", type: "reset" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<hr>
