<div class="row">
  <div class="col-md-12  toppad  pull-right col-md-offset-3 ">
  </div>
  <div class="col-md-12" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.full_name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center">
            <%= image_tag @user.avatar, class: "circle-profile" %>
          </div>
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><%= t("name") %></td>
                  <td><%= @user.full_name.upcase %></td>
                </tr>
                <tr>
                  <td><%= t("user.sign_at") %></td>
                  <td><%= l @user.created_at, format: :date %></td>
                </tr>
                <tr>
                  <td><%= t("user.last_update") %></td>
                  <td><%= l @user.updated_at, format: :date %></td>
                </tr>
                <tr>
                  <td><%= t("phone") %></td>
                  <td><%= @user.phone %></td>
                </tr>
                <tr>
                <tr>
                  <td><%= t("email") %></td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td><%= t("chatwork") %></td>
                  <td><%= @user.chatwork %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</div>
