<div class="container">
  <div class="row">
    <div class="bs-example">
      <div id="sessionModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><%= t("session.title") %></h4>
            </div>
            <div class="modal-body">
              <div class="col-md-6 col-sm-6 no-padng">
                <div class="model-l">
                  <%= form_for :user, url: session_path(:user),
                    html: {id: "logFrm", class: "log-frm",
                    name: "logFrm"} do |f| %>
                    <ul>
                      <%= f.label :email %>
                      <%= f.email_field :email, placeholder: "email",
                        class: "form-control" %>
                      <%= f.label :password %>
                      <%= f.password_field :password, placeholder: "password",
                        class: "form-control" %>
                      <br/><%= f.submit t("session.sign_in"),
                        class: "btn btn-default" %>
                      <div style="display:none;" id="loginFail" class="sign">
                      </div>
                    </ul>
                  <% end %>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 no-padng">
                <div class="model-r">
                  <div class="o-r">
                    <span><%= t("or") %></span>
                  </div>
                  <%= form_for :user, url: user_registration_path,
                    html: {id: "userRegisterFrm", class: "log-frm",
                    name: "userRegisterFrm"} do |f| %>
                    <%= f.label :full_name %>
                    <%= f.text_field :full_name,
                      placeholder: t("session.name"), class: "form-control" %>
                    <%= f.label :email %>
                    <%= f.email_field :email,
                      placeholder: t("session.email"), class: "form-control" %>
                    <%= f.label :password %>
                    <%= f.password_field :password,
                      placeholder: t("session.password"), class: "form-control" %>
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation,
                      placeholder: t("session.password_confirm"),
                      class: "form-control" %>
                    <br><%= f.submit t("session.sign_up"),
                      class: "btn btn-default" %>
                    </ul>
                  <% end %>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
              <%= button_tag t("session.close"),
                class: "btn btn-default account_btn",
                data: {"dismiss": "modal"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
