<div id="modal-user-sign-up" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title"><i class="fa fa-user-plus"></i> <%= t "register" %></h2>
      </div>
      <div class="modal-body">
      <%= devise_error_messages! %>
        <%= form_for :user, url: user_registration_path,
          html: {class: "form-horizontal form-bordered" } do |f| %>
            <div class="form-modal">
              <fieldset>
                <legend><%= t "user_info" %></legend>
                <div class="form-group">
                  <label class="col-md-4 control-label"><%= t "email" %></label>
                  <div class="col-md-8">
                    <%= f.email_field :email, class: "form-control",
                      placeholder: t("example_email"), required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label"><%= t "full_name" %></label>
                  <div class="col-md-8">
                    <%= f.text_field :full_name, class: "form-control",
                      placeholder: t("full_name"), required: true %>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label"><%= t "phone" %></label>
                  <div class="col-md-8">
                    <%= f.text_field :phone, class: "form-control",
                      placeholder: t("phone"), required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label"><%= t "avatar" %></label>
                  <div class="col-md-8">
                    <%= f.file_field :avatar, placeholder: t("full_name"), required: true %>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="user-settings-password">
                    <%= t "password" %>
                  </label>
                  <div class="col-md-8">
                    <%= f.password_field :password, class: "form-control",
                      id: "user-settings-password", required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="user-settings-repassword">
                    <%= t "password_confirm" %>
                  </label>
                  <div class="col-md-8">
                    <div class="">
                      <%= f.password_field :password_confirmation, class: "form-control", id: "val_password" %>
                      <span class=""></span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group form-actions">
              <div class="col-xs-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary">
                  <%= t "register" %>
                </button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                  <%= t "close" %>
                </button>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
