<% @members.each do |member|%>
  <% if status_user_club(member, @club) %>
    <tr>
      <td class="text-center"><%= member.id %></td>
      <td class="text-center"><%= image_tag member.avatar,
        class: "circle-profile-list" %></td>
      <td><%= member.full_name %></a></td>
      <td><%= member.email %></td>
      <td><%= member.phone %></td>
      <td class="text-center">
        <%= link_to t("view"), club_manager_club_member_path(id: member.id),
          class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
<% end %>
