<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%= t "admin" %></li>
    <li><%= link_to t("list_members"), club_manager_club_members_path %></a></li>
  </ul>
  <div class="block full">
    <div class="block-title">
      <h2><strong><%= t " users" %></strong></h2>
    </div>
    <div class="table-responsive">
      <table id="example-datatable"
        class="table table-vcenter table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center"><%= t "id" %></th>
            <th class="text-center"><i class="gi gi-user"></i></th>
            <th><%= t "user_name" %></th>
            <th><%= t "email" %></th>
            <th><%= t "phone" %></th>
            <th class="text-center"><%= t "view_profile" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render "list" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
