<div class="author-thumb">
  <%= image_tag current_user.avatar, class: "avatar" %>
  <div class="more-dropdown more-with-triangle">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title"><%= t "account" %></h6>
    </div>
    <ul class="account-settings">
      <li>
        <%= link_to user_path(current_user) do %>
          <svg class="olymp-menu-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-menu-icon") %>"></use></svg>
          <%= t("profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <svg class="olymp-logout-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-logout-icon") %>"></use></svg>
          <%= t("log_out") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<a href="#" class="author-name fn">
  <div class="author-title">
    <%= current_user.full_name %> <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-dropdown-arrow-icon") %>"></use></svg>
  </div>
</a>
