<li>
  <%= link_to t("do_nothing"), class: "site-nav-sub pad-right-none" do %>
    <%= t I18n.locale.to_s %> <span class="fa fa-language"></span>
  <% end %>
  <ul class="list-language">
    <% Settings.languages.map do |key, val| %>
      <li>
        <div class="<%= key %>"></div>
        <%= link_to_unless I18n.locale == val.to_sym,
          t(key), set_language_path(id: val.downcase), method: :put %>
      </li>
    <% end %>
  </ul>
</li>
<li>
<div class="<%= I18n.locale %> last-site-nav"></div>
