<div class="row store-items">
  <% clubs.each do |club| %>
    <div class="col-md-6 visibility-none" data-toggle="animation-appear"
      data-animation-class="animation-fadeInQuick" data-element-offset="-100">
      <div class="store-item">
        <div class="store-item-rating text-warning">
          <%= club.rating.round Settings.round_float %> <%= t "for_ratings" %>
        </div>
        <div class="store-item-organiztion text-organiztion text-warning">
          <span><%= club.club_name %></span>
        </div>
        <div class="store-item-image">
          <%= link_to club do %>
            <%= image_tag club.logo, class: "img-responsive image-club" %>
            <%= image_tag "tick.png",
              class: "store-item-joined" if current_user.user_clubs.joined.of_club(club) %>
          <% end %>
        </div>
        <div class="store-item-info clearfix block-club">
          <span class="store-item-price themed-color-dark pull-left site-span">
            <%= link_to club.name, club %>
          </span>
          <small class="pull-left site-description">
            <%= club.content.truncate(Settings.truncate.club.description).html_safe unless club.content.nil? %>
          </small>
          <div>
            <%= link_to club do %>
              <strong class="fa fa-users">
                <%= t "members_with_dot" %>
                <%= club.user_clubs.joined.size %>
              </strong>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="form-inline push-bit clearfix">
  <div class="pull-right">
    <%= paginate clubs, remote: true %>
  </div>
</div>
