<%= link_to t("back"),
  manager_organization_path(id: params[:organization]),
  class: "btn btn-default" %>
<div class="center"><%= image_tag user.avatar,
  class: "circle-profile" %></div><hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <strong class="pull-right"><%= t "name" %></strong>
  </div>
  <div class="col-md-6 center"><%= user.full_name %></div>
  <div class="col-md-1"></div>
</div><hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <strong class="pull-right"><%= t "email" %></strong>
  </div>
  <div class="col-md-6 center"><%= user.email %></div>
  <div class="col-md-1"></div>
</div><hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <strong class="pull-right"><%= t "phone" %></strong>
  </div>
  <div class="col-md-6 center"><%= user.phone %></div>
  <div class="col-md-1"></div>
</div><hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <strong class="pull-right"><%= t "organizations" %></strong>
  </div>
  <div class="col-md-6 center">
    <% organizations.each do |organization| %>
      <p><%= organization.name %></p>
    <% end %>
  </div>
</div>
<% if organization.present? %>
  <% unless @user_organization.joined? %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <strong class="pull-right"><%= t "status" %></strong>
      </div>
      <div class="col-md-6 center" id="view-button-<%= user.id %>">
        <%= link_to t("active"),
          manager_member_path(id: @user_organization,
          status: UserOrganization.statuses[:joined],
          organization: @user_organization.organization_id), method: :put,
          remote: true, class: "btn btn-primary",
          data: {confirm: t("answer_active")} %>
        <%= link_to t("reject"),
          manager_member_path(id: @user_organization,
          status: UserOrganization.statuses[:reject],
          organization: @user_organization.organization_id), method: :put,
          remote: true, class: "btn btn-danger",
          data: {confirm: t("answer_reject")} %>
      </div>
    </div>
  <% end %>
<% end %>
