<% users.each do |member| %>
  <tr>
    <td class="text-center"><%= member.user.id %></td>
    <td class="text-center"><%= image_tag member.user.avatar,
      class: "circle-profile-list" %></td>
    <td>
      <%= member.user.full_name %>
      <% if !club.nil? && member.is_manager? %>
        <strong><%= t "admin_club" %></strong>
      <% end %>
    </td>
    <td><%= member.user.email %></td>
    <td><%= member.user.phone %></td>
    <td class="text-center">
      <%= link_to t("view"), manager_member_path(id: member.user.id,
        organization: organization.id),
        class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
