<div class="row block">
  <div class="block breadcrumb breadcrumb-top form-group">
    <%= link_to new_club_manager_club_event_path(club_id: @club.id),
      class: "btn btn-sm btn-primary" do %>
      <i class="fa fa-plus-circle"> </i><%= t "club_manager.album.create" %>
    <% end %>
    <div class="pull-right">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <%= link_to t("notification"), "#notification", data: {toggle: "tab"} %>
        </li>
        <li role="presentation">
          <%= link_to t("get_money"), "#get_money", data: {toggle: "tab"} %>
        </li>
        <li role="presentation">
          <%= link_to t("pay_money"), "#pay_money", data: {toggle: "tab"} %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="notification">
          <div class="row block">
            <%= render "notification" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="get_money">
          <div class="row block">
            <%= render "get_money" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="pay_money">
          <div class="row block">
            <%= render "pay_money" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
