<% events.each do |event_club|  %>
  <div class="row form-group">
    <div class="col-sm-5 text-center full-img-new">
      <%= link_to club_manager_club_event_path(club_id: @club.id, id: event_club.id) do %>
        <%= image_tag event_club.image %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h4>
        <b><%= event_club.name %></b>
        <% if event_club.notification? %>
          <i class="fa fa-bullhorn " aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-usd money" aria-hidden="true"></i>
        <% end %>
      </h4>
      <h5><b><%= t "amount_for" %></b>
        <%= number_to_currency(event_club.expense, locale: :vi) %>
      </h5>
      <div class="inside-div">
        <%= truncate_html(event_club.description.html_safe, length: Settings.new_detail) %><br>
        <%= link_to t("view_more"),
          club_manager_club_event_path(club_id: @club.id, id: event_club.id) %>
      </div>
    </div>
  </div><hr>
<% end %>
<div class="pull-right">
  <%= paginate events %>
</div>
<div class="text-center">
  <%= link_to t("view_all_event"), club_manager_club_events_path(club_id: @club.id) %>
</div><br>
