<% if @support.albums.blank? %>
  <div class="block">
    <h1 class="text-center">
      <strong><b>
        <%= t "club_manager.album.no_album" %>
      </b></strong>
    </h1>
  </div>
<% else %>
  <div class="row">
    <% @support.albums.each do |album| %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <% if album.images.blank? %>
            <%= link_to image_tag("gallery_default.jpg",
              class: "image-gallery image-full"),
              club_manager_club_album_path(id: album.id, club_id: @club.id) %>
          <% else %>
            <%= link_to image_tag(image_holder(album),
              class: "image-gallery image-full"),
              club_manager_club_album_path(id: album.id, club_id: @club.id) %>
          <% end %>
          <div class="caption">
            <h4 class="pull-right">
              <%= link_to "#modal-album-edit-#{album.id}",
                data: {toggle: "modal"}, class: "btn btn-sm btn-warning" do %>
                <i class="fa fa-pencil"><%= t "club_manager.image.edit" %></i>
              <% end %>
              <%= link_to club_manager_club_album_path(id: album.id,
                club_id: @club.id), class: "btn btn-sm btn-warning",
                method: :delete,
                data: {confirm: t("confirm_delete_album")} do %>
                 <i class="fa fa-window-close"><%= t "delete" %></i>
                <% end %>
            </h4>
            <%= link_to t("view"), club_manager_club_album_path(id: album.id,
              club_id: @club.id),
              class: "btn btn-sm btn-alt btn-primary" %>
              <p><%= truncate(album.name, length: Settings.truncate.album_name) %></p>
          </div>
          <div id="modal-album-edit-<%= album.id %>" class="modal fade"
            tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h2 class="modal-title"><i class="fa fa-camera"></i>
                    <%= t "club_manager.album.edit" %>
                  </h2>
                </div>
                <div class="modal-body">
                  <%= render partial: "form_club_album", locals: {key: album} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="text-center">
      <ul class="pagination pagination-lg">
         <%= paginate @support.albums %>
      </ul>
    </div>
  </div>
<% end %>
