<div class="col-md-12">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <% all_members.each do |member| %>
            <div class="col-md-2 col-sm-2 col-sm-2 member-manager">
              <div class="text-center">
                <%= link_to club_manager_club_member_path(id: member.user.id,
                  club_id: @club.id) do %>
                  <%= image_tag member.user.avatar, class: "circle-profile-list" %>
                  <h4 class="center">
                    <b><%= member.user.full_name %></b></br>
                    <% if member.joined? && !member.is_manager? %>
                      <%= link_to club_manager_club_request_path(id: member.id,
                        club_id: @club.id, status: nil), method: :put,
                        title: t("add_admin"),
                        data: {confirm: t("answer_admin")} do %>
                        <i class="gi gi-cogwheel btn btn-danger"></i>
                      <% end %>
                    <% end %>
                    <% if member.joined? && member.is_manager? %>
                      <i class="gi gi-old_man btn btn-primary", title="Admin"></i>
                    <% end %>
                  </h4>
                  <% if member.status == Settings.pending %>
                    <%= link_to t("accept"),
                      club_manager_club_request_path(id: member.id, club_id: @club.id,
                      status: UserClub.statuses[:joined]), method: :put,
                      class: "btn btn-danger",
                      data: {confirm: t("answer_active")} %>
                    <%= link_to t("reject"),
                      club_manager_club_request_path(id: member.id ,club_id: @club.id,
                      status: UserClub.statuses[:reject]), method: :put,
                      class: "btn btn-primary",
                      data: {confirm: t("answer_reject")} %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "close", :back, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
