<div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="active item">
      <section class="site-section site-section-light site-section-top themed-background-default">
        <div class="container">
          <h1 class="text-center animation-slideDown hidden-xs"><strong><%= t "intro_first" %></strong></h1>
          <h2 class="text-center animation-slideUp push hidden-xs"><%= t "lorem" %></h2>
          <p class="text-center animation-fadeIn">
            <%= image_tag "placeholders/screenshots/promo_desktop_left.png" %>
          </p>
        </div>
      </section>
    </div>
    <div class="item">
      <section class="site-section site-section-light site-section-top themed-background-fire">
        <div class="container">
          <h1 class="text-center animation-fadeIn360 hidden-xs"><strong><%= t "lorem" %></strong></h1>
          <h2 class="text-center animation-fadeIn360 push hidden-xs"><%= t "lorem" %></h2>
          <p class="text-center animation-fadeInLeft">
            <%= image_tag "placeholders/screenshots/promo_desktop_right.png" %>
          </p>
        </div>
      </section>
    </div>
    <div class="item">
      <section class="site-section site-section-light site-section-top themed-background-amethyst">
        <div class="container">
          <h1 class="text-center animation-hatch hidden-xs"><strong><%= t "lorem" %></strong></h1>
          <h2 class="text-center animation-hatch push hidden-xs"><%= t "lorem" %></h2>
          <p class="text-center animation-hatch">
            <%= image_tag "placeholders/screenshots/promo_mobile.png" %>
          </p>
        </div>
      </section>
    </div>
    <div class="item">
      <section class="site-section site-section-light site-section-top themed-background-modern">
        <div class="container">
          <h1 class="text-center animation-fadeInLeft hidden-xs"><strong><%= t "lorem" %></strong></h1>
          <h2 class="text-center animation-fadeInRight push hidden-xs"><%= t "lorem" %></h2>
          <p class="text-center animation-fadeIn360">
            <%= image_tag "placeholders/screenshots/promo_tablet.png" %>
          </p>
        </div>
      </section>
    </div>
  </div>
  <a class="left carousel-control" href="#home-carousel" data-slide="prev">
    <span>
      <i class="fa fa-chevron-left"></i>
    </span>
  </a>
  <a class="right carousel-control" href="#home-carousel" data-slide="next">
    <span>
      <i class="fa fa-chevron-right"></i>
    </span>
  </a>
</div>
