<header>
  <div class="container">
    <%= link_to root_path, class: "site-logo" do %>
      <%= image_tag "logo.png", class: "img-responsive logo-page" %>
    <% end %>
    <nav>
      <%= link_to "javascript:void(0)",
        class: "btn btn-default site-menu-toggle visible-xs visible-sm" do %>
        <i class="fa fa-bars"></i>
      <% end %>
      <ul class="site-nav">
        <li class="visible-xs visible-sm">
          <%= link_to "javascript:void(0)",
            class: "site-menu-toggle text-center" do %>
            <i class="fa fa-times"></i>
          <% end %>
        </li>
        <li><%= link_to t("home"), root_path %></li>
        <li>
          <%= link_to "#", class: "site-nav-sub" do %>
            <%= t "account" %> <span class="fa fa-user"></span>
          <% end %>
          <ul>
            <li><%= link_to t("login"), new_user_session_path %></li>
            <li><%= link_to t("register"), "#modal-user-sign-up", data:{toggle: "modal"}, class: "enable-tooltip" %></li>
          </ul>
        </li>
        <%= render "shared/languages_nav" %>
      </ul>
    </nav>
  </div>
</header>
<div class="clear">
</div>
<%= render "registrations/new" %>
