<div class="row">
  <div class="col-md-12">
    <div class="block">
      <div class="block-title">
        <h2><strong><%= t "my_organization" %></strong></h2>
      </div>
      <div class="block-content-full">
        <div class="table-responsive">
          <table id="example-datatable"
            class="table table-vcenter table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-center"><%= t "id" %></th>
                <th class="text-center"><i class="gi gi-user"></i></th>
                <th><%= t "name_organization" %></th>
                <th><%= t "email" %></th>
                <th><%= t "phone" %></th>
                <th class="text-center"><%= t "view" %></th>
              </tr>
            </thead>
            <tbody>
              <% @organizations.each do |organization| %>
                <tr>
                  <td class="text-center"><%= organization.id %></td>
                  <td class="text-center"><%= image_tag organization.logo,
                    class: "circle-profile-list" %></td>
                  <td><%= organization.name %></a></td>
                  <td><%= organization.email %></td>
                  <td><%= organization.phone %></td>
                  <td class="text-center">
                    <%= link_to t("view"),
                      manager_organization_path(organization.id),
                      class: "btn btn-lg btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
