<section class="site-comment event-comment">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 site-block">
        <h3 class="site-heading"><strong><%= t("comments") if @event.comments.any? %></strong></h3>
        <ul class="media-list">
          <%= render partial: "events/list_comment", locals: {comments: comments} %>
        </ul>
        <% if event.comments.size > Settings.limit_comments && comments.size == Settings.limit_comments %>
          <%= link_to t("view_all"), club_event_path(comment_status: "all"),
            class: "btn btn-primary", remote: true %>
        <% elsif event.comments.size > Settings.limit_comments && comments.size > Settings.limit_comments %>
          <%= link_to t("view_less"), club_event_path(comment_status: "less"),
            class: "btn btn-primary", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render "new_comment" %>
