<%= javascript_include_tag "bootstrap-support", "data-turbolinks-track": "reload" %>
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h1><%= t "events" %></h1>
        <hr>
        <div class="site-block"></div>
        <% @club.events.each do |event| %>
          <div class="site-block">
            <div class="row">
              <div class="col-md-4">
                <p>
                  <%= link_to user_club_event_url(user_id: current_user.id, club_id: event.club.id, id: event.id) do %>
                    <%= image_tag event.image, class: "img-responsive" %>
                  <% end %>
                </p>
              </div>
              <div class="col-md-8">
                <h3 class="site-heading"><strong><%= event.name %></strong></h3>
                <p><%= event.description.truncate 360 %></p>
              </div>
            </div>
            <div class="clearfix">
              <p class="pull-right">
                <%= link_to t("read_more"),
                  user_club_event_url(user_id: current_user.id, club_id: event.club.id, id: event.id),
                  class: "label label-primary" %>
              </p>
              <ul class="list-inline pull-left">
                <li><i class="fa fa-calendar"></i> <%= event.created_at.strftime("Post at: %d/%M/%Y %I:%M %p") %></li>
                <li><i class="fa fa-user"></i> by <a href="javascript:void(0)"><%= manager_club(event.club).full_name if manager_club(event.club) %></a></li>
                <li><i class="fa fa-comments"></i> <a href="javascript:void(0)"><%= event.comments.size %></a></li>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="text-right">
          <ul class="pagination">
            <li><a href="javascript:void(0)"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <aside class="sidebar site-block">
          <!-- Search -->
          <div class="sidebar-block">
            <form action="blog.html" method="post" onsubmit="return false;">
              <div class="input-group">
                <input type="text" id="search-term" name="searh-term" class="form-control" placeholder="Search..">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="sidebar-block">
            <ul class="nav nav-tabs push-bit" data-toggle="tabs">
              <li class="active"><a href="#top"><i class="fa fa-users"></i> <%= t "periodic_events" %></a></li>
              <li><a href="#periodic"><i class="fa fa-newspaper-o"></i> <%= t "top_events" %></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="top">
                <% @club.events.by_created_at.each do |event| %>
                  <% if event.event_category_id.to_i == 3 %>
                    <div class="content-float clearfix">
                      <%= image_tag event.image, class: "img-circle pull-left small-event-image" %>
                      <h5>
                        <%= link_to user_club_event_url(user_id: current_user.id, club_id: event.club.id, id: event.id) do %>
                          <strong><%= event.name %></strong>
                        <% end %>
                      </h5>
                      <small class="text-muted">
                        <i><%= t "post_at" %></i>
                        <%= time_ago_in_words event.created_at %>
                      </small>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="tab-pane" id="periodic">
                <% @events_top.each do |event| %>
                    <div class="content-float clearfix">
                      <%= image_tag event.image, class: "img-circle pull-left small-event-image" %>
                      <h5>
                        <%= link_to user_club_event_url(user_id: current_user.id, club_id: event.club.id, id: event.id) do %>
                          <strong><%= event.name %></strong>
                        <% end %>
                      </h5>
                      <small class="text-muted">
                        <i><%= t "post_at" %></i>
                        <%= time_ago_in_words event.created_at %>
                      </small>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="sidebar-block">
            <h4 class="site-heading"><strong><%= t "time" %></strong> <%= t "line" %></h4>
            <ul class="fa-ul ul-breath">
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
              <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
