<div class="modal-dialog ui-block window-popup event-private-public private-event custom_budget_popup">
  <div class="ui-block">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title text-center"><%= t("no_budget") %></h6>
    </div>
    <div class="table-responsive">
      <table class="event-item-table table table-vcenter datatable-public table-condensed table-bordered sort-bubget">
        <thead>
          <tr>
            <th><%= t "name" %></th>
            <th><%= t "email" %></th>
          </tr>
        </thead>
        <tbody>
          <% if @members_yet.any? %>
            <% @members_yet.each do |user| %>
              <tr>
                <td><%= link_to user.full_name, user_path(user.id), target: :blank %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3">
                <h6 class="text-center notifi-empty"><%= t "empty" %></h6>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= javascript_include_tag "sort_by_date" %>
