<% comments.each do |comment| %>
  <li>
    <div class="post__author author vcard inline-items">
      <%= image_tag comment.user.avatar, class: "img-circle img-user-time-line" %>
      <div class="author-date">
        <%= link_to comment.user, class: "h6 post__author-name fn" do %>
          <%= comment.user.full_name %>
        <% end %>
        <div class="post__date">
          <time class="published" datetime="<%= l comment.created_at, format: :full_date %>">
            <%= l comment.created_at, format: :full_date %>
          </time>
        </div>
      </div>
    </div>
    <%= render partial: "comments/toggle",
      locals:
      {comment_select: comment} if current_user == comment.user %>
    <p class="edit-comment-<%= comment.id %>"><%= comment.content %></p>
  </li>
<% end %>
