<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h1><%= t "events" %></h1>
        <hr>
        <div class="site-block"></div>
        <%= render partial: "events/event", locals: {event: @events} %>
      </div>
      <div class="col-sm-4 col-md-3">
        <aside class="sidebar site-block site-section">
          <div class="sidebar-block">
            <%= search_form_for @q, url: club_url, method: :get do |f| %>
              <div class="input-group">
                <%= f.text_field :name_or_description_cont,
                  id: "search-term", class: "form-control",
                  placeholder: t("search") %>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            <% end %>
          </div>
          <%= render "clubs/tags" %>
          <%= render "events/nav_events" %>
          <%= render "clubs/budget" %>
          <div class="text-center sidebar-block">
            <%= link_to club_albums_path(club_id: @club.id),
              class: "btn btn-primary button-budget-album", target: "_blank" do %>
              <i class="fa fa-camera" aria-hidden="true"></i>
              <%= t("albums") %>
            <% end %>
          </div>
          </hr>
          <%= render "events/members" %>
        </aside>
      </div>
    </div>
  </div>
</section>
