<%= javascript_include_tag "images", "data-turbolinks-track" => true %>
<section class="site-content content-detail">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <div class="panel with-nav-tabs panel-info tab-club">
          <div class="panel-heading panel-club">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#event" data-toggle="tab"><%= t "events" %></a></li>
              <li ><a href="#content_club" data-toggle="tab"><%= t "content_club" %></a>
              <li ><a href="#goal" data-toggle="tab"><%= t "goal" %></a>
              </li>
              <li><a href="#plan" data-toggle="tab"><%= t "plan" %></a></li>
              <li><a href="#local_club" data-toggle="tab"><%= t "local_club" %></a></li>
              <li><a href="#rules_club" data-toggle="tab"><%= t "rules_club" %></a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown"><%= t "more" %> <span class="caret icon-more"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#rule_finance" data-toggle="tab"><%= t "rule_finance" %></a></li>
                  <li><a href="#time_member_join" data-toggle="tab">
                    <%= t "time_member_join" %></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="event">
                <%= render partial: "events/event", locals: {event: @events} %>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="goal">
                <%= view_detail_club(@club.goal) %>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="plan">
                <%= view_detail_club(@club.plan) %>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="local_club">
                <p><%= view_detail_club(@club.local) %></p>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="rules_club">
                <%= view_detail_club(@club.rules) %>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="content_club">
                <%= view_detail_club(@club.content) %>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="rule_finance">
                <%= view_detail_club(@club.rule_finance) %>
              </div>
              <div class="tab-pane box-border box-border-club fade" id="time_member_join">
                <%= view_detail_club(@club.time_join) %>
              </div>
            </div>
          </div>
        </div>
        <div class="site-block"></div>
      </div>
      <div class="col-sm-4 col-md-3 site-right">
        <aside class="sidebar site-block site-section">
          <div class="sidebar-block">
            <%= search_form_for @q, url: club_url, method: :get do |f| %>
              <div class="input-group">
                <%= f.text_field :name_or_description_cont,
                  id: "search-term", class: "form-control",
                  placeholder: t("search") %>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            <% end %>
          </div>
          <%= render "clubs/budget" %>
          <div class="text-center sidebar-block">
            <% if @support.images_club.any? %>
              <h4 class="text-center left-title"><%= t("images") %></h4>
              <ul class="col-md-12 image-club-show">
                <% @support.images_club.take(Settings.max_display_image_club).each do |image| %>
                  <li class="">
                    <%= image_tag image.url, class: "img-responsive" %>
                  </li>
                <% end %>
                <% if @support.images_club.size > Settings.max_display_image_club %>
                  <div class="col-md-3 col-sm-3 col-xs-3 more-image">
                    <%= link_to club_albums_url(club_id: @club.id),
                      class: "members-club more-image animation-fadeIn360" do %>
                      <i><%= t("more") %></i>
                    <% end %>
                  </div>
                <% end %>
              </ul>
            <% end %>
          </div>
          <%= render "events/nav_events" %>
          <%= render "events/members" %>
          <%= render "clubs/tags" %>
        </aside>
      </div>
    </div>
  </div>
</section>
