<div class="sidebar member-site">
  <h4 class="site-heading text-center left-title">
    <%= t "members" %>
    <span class='label label-primary label-indicator
      animation-floating'>
      <%= @support.members_joined.size %>
    </span>
  </h4>
  <div class="col-md-12">
    <% @support.members_joined.take(Settings.max_display_member_club).each do |member| %>
      <div class="col-md-4 col-sm-3 col-xs-3">
        <div class="text-center">
          <%= link_to user_path(member.user_id), title: member.full_name, target: "_blank" do %>
            <%= image_tag member.avatar,
              class: "circle-profile-list members-club" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @support.members_joined.size > Settings.max_display_member_club %>
      <div class="col-md-3 col-sm-6">
        <%= link_to "#modal-user", data: {toggle: "modal"},
          class: "members-club animation-fadeIn360", title: "more" do %>
          <i class="hi hi-plus"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
  <div id="modal-user" class="modal fade" tabindex="-1"
    role="dialog" aria-hidden="true">
    <%= render "button_more_user" %>
  </div>
</div>
