<div class="sidebar">
  <h4 class="site-heading">
    <strong><%= t "members" %></strong>
    <span class='label label-primary label-indicator
      animation-floating'>
      <%= @members.size %>
    </span>
  </h4>
  <div class="col-md-12">
    <% @members.take(Settings.member_club).each do |member| %>
      <div class="col-md-4 col-sm-6">
        <div class="text-center">
          <%= link_to user_path(member.user_id), title: member.full_name do %>
            <%= image_tag member.avatar,
              class: "circle-profile-list members-club" %>
          <% end %>
        </div>
      </div>
      <% if @members.size > Settings.member_club %>
        <div class="col-md-4 col-sm-6">
          <%= link_to "#modal-user", data: {toggle: "modal"},
            class: "circle-profile-list members-club
              animation-fadeIn360", title: "more" do %>
            <%= image_tag "more.png", class: "circle-profile-list
              members-club animation-fadeIn360" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="text-center">
  <div id="modal-user" class="modal fade" tabindex="-1"
    role="dialog" aria-hidden="true">
    <%= render "button_more_user" %>
  </div>
</div>
