<div class="sidebar-block">
  <h4 class="site-heading"><strong><%= t "times" %></strong> <%= t "line" %></h4>
  <ul class="fa-ul ul-breath">
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
    <li><i class="fa fa-bullseye fa-li"></i> <a href="javascript:void(0)"><%= t "timeline_date" %></a></li>
  </ul>
</div>
