<% events.each do |event| %>
  <table class="event-item-table">
    <tbody>
      <tr class="event-item">

        <td class="upcoming">
          <div class="date-event">
            <svg class="olymp-small-calendar-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-small-calendar-icon") %>"></use></svg>
            <span class="day"><%= event.date_start.day %></span>
            <span class="month"><%= event.date_start.strftime("%B") %></span>
          </div>
        </td>
        <td class="author">
          <div class="event-author inline-items">
            <div class="author-thumb img_small">
              <%= link_to club_event_url(event.club, event) do %>
                <%= image_tag event.image, class: "img-responsive" %>
              <% end %>
            </div>
            <div class="author-date">
              <%= link_to event.name, club_event_url(event.club, event), class: "author-name h6" %>
              <% unless event.date_start.blank? && event.date_end.blank? %>
                <time class="published"><%= event.date_start %>/<%= event.date_end %></time>
              <% end %>
            </div>
          </div>
        </td>
        <td class="location">
          <div class="place inline-items">
            <svg class="olymp-add-a-place-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-add-a-place-icon") %>"></use></svg>
            <span><%= event.location %></span>
          </div>
        </td>
        <td class="description">
          <p class="description"><%= event.description.truncate(Settings.event_truncate).html_safe unless event.description.nil? %></p>
        </td>
        <td class="users">

        </td>
        <td class="add-event">
          <%= link_to t("read_more"), club_event_url(event.club, event),
            class: "btn btn-breez btn-sm load_event" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<div class="col-md-9">
  <%= paginate @events %>
</div>
