<div class="header-spacer header-spacer_custom"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-10 push-xl-1 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <article class="hentry post has-post-thumbnail thumb-full-width private-event">
          <div class="private-event-head inline-items">
            <%= image_tag "avatar77-sm.jpg" %>
            <div class="author-date">
              <a class="h3 event-title" href="#"><%= @event.name %></a>
              <div class="event__date">
                <time class="published" datetime="<%= l @event.created_at, format: :short %>">
                  <%= l @event.created_at, format: :short %>
                </time>
              </div>
            </div>
          </div>
          <div class="post-thumb">
            <%= image_tag @event.image, class: "img-responsive full_image" %>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="post__author author vcard inline-items">
                <div class="author-date">
                  <a class="h6 post__author-name fn" href="#"><%= @event.user.full_name %></a>
                  <div class="post__date">
                    <time class="published" datetime="<%= l @event.created_at, format: :short %>">
                      <%= l @event.created_at, format: :short %>
                    </time>
                  </div>
                </div>
              </div>
              <% if @event.description.blank? %>
                <h5 class="text-center">
                  <strong><%= t "no_description" %></strong>
                </h5>
              <% else %>
                <p><%= @event.description.html_safe %></p>
              <% end %>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="event-description">
                <h6 class="event-description-title"><%= t "info_event" %></h6>
                <div class="place inline-items">
                  <svg class="olymp-add-a-place-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-add-a-place-icon") %>"></use></svg>
                  <span><%= @event.location %></span>
                </div>
                <div class="place inline-items">
                  <svg class="olymp-small-calendar-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-small-calendar-icon") %>"></use></svg>
                  <span><%= @event.date_start %></span>
                </div>
                <div class="place inline-items">
                  <svg class="olymp-small-calendar-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-small-calendar-icon") %>"></use></svg>
                  <span><%= @event.date_end %></span>
                </div>
                <% if @event.notification? %>
                  <%= render "user_events/join_event_toggle" %>
                <% end %>
              </div>
            </div>
          </div>
        </article>
        <div class="mCustomScrollbar list-comment-event" data-mcs-theme="dark">
          <%= render partial: "events/comment", locals: {comments: @comments, event: @event} %>
        </div>
      </div>
    </div>
  </div>
</div>
