<%= javascript_include_tag "images", "data-turbolinks-track" => true  %>
<div id="page-container">
  <section class="site-content site-section">
    <div class="container">
      <div class="site-block text-center">
        <div class="btn-group portfolio-filter">
          <% if @albums.any? %>
            <%= link_to t("all"), "javascript:void(0)",
              class: "btn btn-primary", "data-category" => "all" %>
            <% @albums.each do |album| %>
              <%= link_to album.name, "javascript:void(0)",
                class: "btn btn-primary", "data-category" => album.id %>
            <% end %>
          <% else %>
            <h3><%= t "album_empty" %></h3>
          <% end %>
        </div>
      </div>
      <div class="row portfolio">
        <div class="container gallery-container">
          <div class="tz-gallery">
            <div class="row">
              <% @albums.each do |album| %>
                <% album.images.each do |image| %>
                  <div class="col-sm-6 col-md-3 portfolio-item"
                    data-category="<%= album.id %>">
                    <%= link_to "#{image.url}", class: "lightbox" do  %>
                      <%= image_tag image.url %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
