<%= javascript_include_tag "images", "data-turbolinks-track" => true  %>
<div id="page-container">
  <section class="site-section site-section-light site-head themed-background-dark">
    <div class="container">
      <h1 class="text-center animation-slideDown">
        <strong><%= t "albums" %></strong>
      </h1>
    </div>
  </section>
  <section class="site-content site-section">
    <div class="container">
      <div class="site-block text-center">
        <div class="btn-group portfolio-filter">
          <% if @albums.any? %>
            <%= link_to t("all"), "javascript:void(0)",
              class: "btn btn-primary", "data-category" => "all" %>
            <% @albums.each do |album| %>
              <%= link_to album.name, "javascript:void(0)",
                class: "btn btn-primary", "data-category" => album.id %>
            <% end %>
          <% else %>
            <h1><%= t "album_empty" %></h1>
          <% end %>
        </div>
      </div>
      <div class="row portfolio">
        <% @albums.each do |album| %>
          <ul class="first">
            <% album.images.each do |image| %>
              <li class="col-md-3">
                <div class="col-md-3 portfolio-item"
                  data-category="<%= album.id %>">
                  <%= image_tag image.url, class: "img-responsive" %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </section>
  <section class="site-section site-section-light site-bottom themed-background-dark">
  </section>
</div>
