<div class="block">
  <h1><%= t "detail_request" %></h1>
  <p><%= link_to t("back"), :back, class: "btn btn-default" %></p>
  <div class="center"><%= image_tag @request.logo,
    class: "circle-profile" %></div><hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <strong class="pull-right"><%= t "name" %></strong>
    </div>
    <div class="col-md-6 center"><%= @request.name %></div>
    <div class="col-md-1"></div>
  </div><hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <strong class="pull-right"><%= t "user_request" %></strong>
    </div>
    <div class="col-md-6 center"><%= @user.full_name %></div>
    <div class="col-md-1"></div>
  </div><hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <strong class="pull-right"><%= t "description" %></strong>
    </div>
    <div class="col-md-6 center"><%= @request.description %></div>
    <div class="col-md-1"></div>
  </div><hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <strong class="pull-right"><%= t "date_request" %></strong>
    </div>
    <div class="col-md-6 center">
      <%= l @request.created_at, format: :short %>
    </div>
    <div class="col-md-1"></div>
  </div><hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <strong class="pull-right"><%= t "status" %></strong>
    </div>
    <div class="col-md-6 center">
      <%= link_to t("active"),
        manager_request_path(id: @request,
        status: ClubRequest.statuses[:joined],
        organization: @request.organization.id), method: :put,
        remote: true, class: "btn btn-primary",
        data: {confirm: t("answer_active_club")} %>
      <%= link_to t("reject"),
        manager_request_path(id: @request,
        status: ClubRequest.statuses[:reject],
        organization: @request.organization.id), method: :put,
        remote: true,  class: "btn btn-danger",
        data: {confirm: t("answer_reject_club")} %>
    </div>
    <div class="col-md-1"></div>
  </div><hr>
</div>
