<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li><%=  t "admin" %></li>
    <li>
      <%= link_to t("new_organization"), t("do_nothing") %>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="block">
        <div class="block-title">
          <h2><strong><%= t "new_organization" %></strong></h2>
        </div>
        <%= form_for [:admin, @organization], method: :post ,
          html: {class: "form-horizontal form-bordered",
            enctype: "multipart/form-data", multipart: true} do |f| %>
          <div class="form-group">
            <%= f.label :name, class: "col-md-3 control-label", for: "example-text-input" %>
            <div class="col-md-6">
              <%= f.text_field :name, class: "form-control",
                placeholder: t("organization_name") %>
              <span class="help-block"><%= t "name_guide" %></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: "col-md-3 control-label",
              for: "example-email-input" %>
            <div class="col-md-6">
              <%= f.email_field :email, class: "form-control",
                placeholder: t("enter_email") %>
              <span class="help-block"><%= t "email_guide" %></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, class: "col-md-3 control-label",
              for: "example-text-input" %>
            <div class="col-md-6">
              <%= f.text_field :phone, class: "form-control",
                placeholder: t("placeholder_phone") %>
              <span class="help-block"><%= t "phone_guide" %></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :location, class: "col-md-3 control-label", for: "example-textarea-input" %>
            <div class="col-md-6">
              <%= f.text_area :location, class: "form-control", rows: 3,
                placeholder: t("organization_location") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, class: "col-md-3 control-label", for: "example-textarea-input" %>
            <div class="col-md-6">
              <%= f.text_area :description, class: "form-control", rows: 9,
                placeholder: t("organization_description") %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :logo, class: "col-md-3 control-label", for: "example-file-input" %>
            <div class="col-md-6">
            <%= f.file_field :logo %>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="col-md-9 col-md-offset-5">
              <%= f.submit t("submit"), class: "btn btn-sm btn-primary" %>
              <%= button_tag t("reset"), type: :reset,
                class: "btn btn-sm btn-warning" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
