<div class="header-spacer header-spacer_custom"></div>
<section class="site-content site-section">
  <div class="container">
    <div class="row ui-block">
      <div class="col-sm-6 col-md-6 push-md-3 site-block box-border">
        <h3 class="h2 site-heading center title_custom"><strong>
          <%= t "request" %></strong> <%= t "organization_sign" %>
        </h3>
        <div class="hr-center-line-div"></div>
        <%= form_for [:user, @request], html: {id: "form-contact"} do |f|%>
          <div class="form-group col-md-12">
            <div class="form-group label-floating">
              <%= f.label(:name, t("organization_name"), class: "control-label") %>
              <%= f.text_field :name, class: "form-control", id: "contact-name" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:phone, t("organization_phone"), class: "control-label") %>
                <%= f.number_field :phone, class: "form-control", id: "contact-name" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label(:email, t("organization_email"), class: "control-label") %>
                <%= f.email_field :email, class: "form-control", id: "contact-name" %>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <div class="form-group label-floating">
              <%= f.label(:location, t("organization_address"), class: "control-label") %>
              <%= f.text_field :location, class: "form-control", id: "contact-name" %>
            </div>
          </div>
          <div class="form-group col-md-12 logo-club">
            <div class="row">
              <div class="col-md-4">
                <label for="contact-email"><%= t "organization_background" %></label>
                <%= f.file_field :logo, id: "file-upload" %>
              </div>
              <div class="col-md-8">
                <%= image_tag "flogo.png", class: "img-height-100", id: "img-upload" %>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <div class="form-group label-floating">
              <%= f.label(:description, t("description_request"), class: "control-label") %>
              <%= f.text_area :description, class: "form-control", id: "contact-message", row: 10 %>
            </div>
          </div>
          <div class="form-group center">
            <%= f.submit t("send_request"), class: "btn btn-secondary full-width" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
