<% if members.any? %>
  <div class="table-responsive">
    <table id=""
      class="table table-vcenter datatable-public table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center"><i class="fa fa-user-o"></i></th>
          <th class="text-center"><%= t "full_name" %></th>
          <th class="text-center"><%= t "email" %></th>
          <th class="text-center"><%= t "action" %></th>
        </tr>
      </thead>
      <tbody>
        <% members.each do |member| %>
          <tr class="data-<%= member.id %>">
            <td><%= image_tag member.avatar,
              class: "img-responsive img-budgets-member" %></td>
            <td>
              <%= link_to manager_member_path(id: member.user_id,
              organization: @organization.id) do %>
                <%= member.full_name %>
              <% end %>
            </td>
            <td><%= member.email %></td>
            <td class="center">
              <h6 class="center">
                <% if member.joined? && !member.is_admin? %>
                  <%= link_to manager_member_path(id: member.id,
                    organization_id: @organization.id, status: nil), method: :put,
                    title: t("add_admin"),
                    data: {confirm: t("answer_admin_organization")} do %>
                    <i class="gi gi-keys btn btn-danger"></i>
                  <% end %>
                  <%= link_to manager_member_path(id: member.id,
                    organization_id: @organization.id), method: :delete,
                    title: t("delete_member"),
                    data: {confirm: t("answer_delete_member")} do %>
                    <i class="hi hi-remove btn btn-default"></i>
                  <% end %>
                <% end %>
                <% if member.joined? && member.is_admin? %>
                  <i class="gi gi-old_man btn btn-primary", title="Admin"></i>
                <% end %>
              </h6>
              <% if member.pending? && !member.reject? %>
                <%= link_to manager_member_path(id: member.id,
                  status: UserOrganization.statuses[:joined],
                  organization_id: member.organization_id), method: :put,
                  remote: true, class: "btn btn-primary btn-sm",
                  data: {confirm: t("answer_active")} do %>
                  <i class="fa fa-check"> <%= t "active" %></i>
                <% end %>
                <%= link_to manager_member_path(id: member.id,
                  status: UserOrganization.statuses[:reject],
                  organization_id: member.organization_id), method: :put,
                  remote: true, class: "btn btn-danger btn-sm",
                  data: {confirm: t("answer_reject")} do %>
                  <i class="fa fa-times"></i> <%= t "reject" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h1><%= t "no_data" %></h1>
<% end %>
