<%= javascript_include_tag "manager/select_tag",
  "data-turbolinks-track" => true %>
<div class="media-container">
  <section class="site-section site-section-light site-section-top">
    <div class="container">
      <h1 class="animation-slideDown">
        <strong><%= @organization.name %>
          <%= link_to "#modal-club-edit",
            data: {toggle: "modal"},
            class: "btn btn-sm btn-primary animation-fadeIn360" do %>
            <i class="fa fa-pencil "></i> <%= t "edit" %>
          <% end %>
        </strong>
      </h1>
      <p class="h3 animation-slideUp hidden-xs">
        <%= @organization.description.html_safe %>
      </p>
      <div class="join-cancel-toggle-container">
        <div class="pull-left">
          <%= form_tag manager_import_users_path(organization:
            @organization.id), multipart: true, method: :post do %>
            <%= file_field_tag :file %>
            <%= submit_tag t("import_user"), class: "btn btn-success", title: t("title_import") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </section>
  <%= image_tag @organization.logo, class: "media-image animation-pulseSlow" %>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li>
    <%= link_to "#clubs", data: {toggle: "tab"} do %>
      <%= t("club") %>
      <span class="label label-primary label-indicator
        animation-floating">
        <%= @clubs.size %>
      </span>
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to "#members_organization", data: {toggle: "tab"} do %>
      <%= t("members") %>
      <span class="label label-primary label-indicator
        animation-floating">
        <%= @members.joined.size %>
      </span>
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to "#manager_organization", data: {toggle: "tab"} do %>
      <%= t("manager") %>
      <span class="label label-primary label-indicator
        animation-floating">
        <%= @members.are_admin.size %>
      </span>
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to "#requestmember", data: {toggle: "tab"} do %>
      <%= t("request_member") %>
      <span class="label label-primary label-indicator
        animation-floating">
        <%= @members.pending.size %>
      </span>
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to "#request_club", data: {toggle: "tab"} do %>
      <%= t("request_club") %>
      <span class="label label-primary label-indicator
        animation-floating">
        <%= @requests.pending.size %>
      </span>
    <% end %>
  </li>
</ul>
<div class="refresh">
  <%= link_to manager_organization_path(@organization),
    class: "btn btn-sm btn-primary animation-fadeIn360" do %>
    <%= t("refresh") %>
    <i class="fa fa-refresh" aria-hidden="true"></i>
  <% end %>
</div>
<div id="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="clubs">
          <div class="row block">
            <%= render "club" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="members_organization">
          <div class="row block">
            <%= render partial: "list_member",
              locals: {members: @members.joined.newest} %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="manager_organization">
          <div class="row block">
            <%= render partial: "list_member",
              locals: {members: @members.are_admin.newest} %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="request_club">
          <div class="row block">
            <%= render "list_request" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="requestmember">
          <div class="row block">
            <%= render partial: "list_member",
              locals: {members: @members.pending.newest} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-club-edit" class="modal fade" tabindex="-1"
  role="dialog" aria-hidden="true">
  <%= render "popups/edit_organization_detail" %>
</div>
<% if @errors %>
  <% @errors.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
