<% @clubs.each do |club| %>
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="ui-block">
      <div class="friend-item">
        <div class="friend-header-thumb">
          <%= image_tag club.image %>
        </div>
        <div class="friend-item-content">
          <div class="friend-avatar">
            <div class="author-thumb">
            </div>
            <div class="author-content">
              <%= link_to club_path(club), class: "h5 author-name" do %>
                <%= club.name %>
              <% end %>
              <div class="country"><%= club.rating.round Settings.round_float %></div>
            </div>
          </div>
          <div class="swiper-container">
            <p><%= club.content.truncate(Settings.truncate.club.description).html_safe unless club.content.nil? %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
