<section class="site-section site-section-light themed-background-dark">
</section>
<section class="site-content site-section organization">
  <div class="container">
    <div class="row">
      <div class="push-bit">
        <h1 class="text-center"><%= t "list_organizations" %></h1><br>
      </div>
      <div class="col-md-9">
      </div>
      <div class="col-md-3">
        <aside class="sidebar site-block">
          <div class="sidebar-block">
            <%= search_form_for @q, class: "form-horizontal" do |f| %>
              <div class="form-group push-bit">
                <div class="col-xs-12">
                  <div class="input-group">
                    <%= f.text_field :name_or_description_cont,
                      class: "form-control", id: "ecom-search",
                      placeholder: t("name_des") %>
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
              </div>
            <% end %>
          </div>
        </aside>
      </div>
      <div class="col-md-12 col-lg-12"><hr>
        <div class="row portfolio">
          <% if @organizations.empty? %>
            <h4 class="notifi-join center"><%= t "no_data_organization" %></h4 >
          <% else %>
            <% @organizations.each do |organization| %>
              <% if view_organization?(organization, current_user) %>
                <div class="col-md-4 visibility-none" data-toggle="animation-appear"
                  data-animation-class="animation-fadeInQuick" data-element-offset="-100">
                  <div class="store-item">
                    <div class="store-item-image">
                      <%= link_to organization do %>
                        <%= image_tag organization.logo,
                          class: "img-responsive image-club" %>
                      <% end %>
                    </div>
                    <div class="store-item-info clearfix block-club">
                      <span class="store-item-price themed-color-dark pull-left name-organization-link">
                        <%= link_to organization.name, organization %>
                      </span><br>
                      <div><div class="push-bit"></div>
                        <%= link_to organization do %>
                          <strong class="pull-left fa fa-users">
                            <%= t "members_with_dot" %>
                            <%= organization.users.size %> |
                            <%= t "clubs_with_dot" %>
                            <%= organization.clubs.size %>
                          </strong>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="form-inline push-bit clearfix">
          <div class="pull-right">
            <%= paginate @organizations %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
