<div class="header-spacer header-spacer_custom"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-10 push-xl-1 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block responsive-flex">
        <div class="ui-block-title">
          <div class="h6 title"><%= t "list_organizations" %></div>
          <%= search_form_for @q, html:{class: "w-search"} do |f| %>
            <div class="form-group with-button">
              <div class="col-xs-12">
                <div class="input-group">
                  <%= f.text_field :name_or_description_cont,
                    class: "form-control", placeholder: t("name_des") %>
                  <button type="submit">
                    <svg class="olymp-magnifying-glass-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-magnifying-glass-icon") %>"></use></svg>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% if @organizations.empty? %>
            <h4 class="notifi-join center"><%= t "no_data_organization" %></h4 >
        <% else %>
          <%= render @organizations %>
        <% end %>
      </div>
      <nav aria-label="Page navigation example">
        <%= paginate @organizations %>
      </nav>
    </div>
    <div class="col-xl-3 pull-xl-9 col-lg-12 pull-lg-0 col-md-12 col-sm-12 col-xs-12">
      <%= render "sidebar" %>
    </div>
  </div>
</div>
