<%= stylesheet_link_tag "organization-details",
  media: "all", "data-turbolinks-track": "reload" %>
<section class="site-section site-section-light themed-background-dark">
</section>
<section class="site-content">
  <div class="container" id="main">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div id="sidebar">
          <div class="user">
            <div class="text-center">
              <%= image_tag @organization.logo,
                class: "img-circle org-img-details" %>
            </div>
            <div class="user-head">
              <h1><%= @organization.name %></h1>
              <div class="hr-center"></div>
              <h5><%= t "members" %>:
                <%= @organization.users.size %>
              </h5>
              <h5><%= t "clubs" %>:
                <%= @organization.clubs.size %>
              </h5>
              <%= render "organizations/toggle" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div id="content">
          <div class="main-content">
            <ul class="timeline">
              <li id="id-profile">
                <div class="timeline-badge default">
                  <i class="fa fa-university"></i>
                </div>
                <h1 class="timeline-head">
                  <%= t "organization_details" %>
                </h1>
              </li>
              <li id="profile">
                <div class="timeline-badge primary"></div>
                <div class="timeline-panel">
                  <h1>
                    <strong><%= @organization.name %></strong>
                    <%= t "overview" %>
                    <div class="pull-right">
                      <%= select_case_view(@organization) %>
                    </div>
                  </h1>
                  <h4>
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <strong><%= t "phone" %>:</strong>
                    <%= @organization.phone %>
                  </h4>
                  <div class="hr-left"></div>
                  <h4>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <strong><%= t "email" %>:</strong>
                    <%= @organization.email %>
                  </h4>
                  <div class="hr-left"></div>
                  <h4>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <strong><%= t "address" %>:</strong>
                    <%= @organization.location %>
                  </h4>
                  <div class="hr-left"></div>
                  <h4>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <strong><%= t "created_at" %>:</strong>
                    <%= (l @organization.created_at, format: :short) unless
                      @organization.created_at.nil? %>
                  </h4>
                  <div class="hr-left"></div>
                  <p class="break-all"><%= @organization.description %></p>
                </div>
              </li>
              <% if @organization.clubs.present? %>
                <li id="personal-info">
                  <% unless current_user.user_organizations.joined.join?(
                    @organization) %>
                    <div class="timeline-badge primary"></div>
                    <div class="timeline-panel">
                      <h1>
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <%= t "club_inner" %>
                      </h1>
                      <div class="hr-left"></div>
                        <div class="table-responsive">
                          <table id="example-datatable"
                            class="table table-bordered">
                            <thead>
                              <tr>
                                <th class="org-first-th"><%= t "background" %></th>
                                <th></i><%= t "name" %></th>
                                <th>
                                  <i class="fa fa-star-half-o"></i>
                                </th>
                                <th><%= t "description" %></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% @organization.clubs.each do |club| %>
                                <tr data-link="<%= club_url(club) %>" class="org-link-to">
                                  <td class="org-td">
                                    <%= image_tag club.image,
                                      class: "img-responsive img-club-org-details" %>
                                  </td>
                                  <td>
                                    <%= link_to club_path(club) do %>
                                      <%= club.name %>
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= club.rating.round Settings.round_float %></td>
                                  <td><%= club.content.truncate(Settings.truncate.club.description).html_safe unless club.content.nil? %></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/content" %>
