<div class="header-spacer header-spacer-small"></div>
<!-- Main Header Badges -->

<div class="main-header bg-group">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
        <div class="main-header-content">
          <h1><%= @organization.name %></h1>
          <p><%= @organization.description %></p>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "group-bottom.png", class: "img-responsive img-bottom" %>
</div>
<!-- ... end Main Header Group -->

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title ui-block-title-small">
          <h6 class="title"><%= @organization.name %></h6>
        </div>
        <table class="event-item-table">
          <tbody>
            <tr class="event-item">
              <td class="author">
                <div class="event-author inline-items">
                  <div class="author-thumb img_small">
                    <%= image_tag @organization.logo, class: "img-circle org-img-details" %>
                  </div>
                  <div class="author-date">
                    <a href="#" class="author-name h6"><%= @organization.name %></a>
                  </div>
                </div>
              </td>
              <td class="location">
                <div class="place inline-items">
                  <svg class="olymp-add-a-place-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-share-icon") %>"></use></svg>
                  <span><strong><%= @organization.users.size %></strong><%= t "members" %></span>
                </div>
              </td>
              <td class="location">
                <div class="place inline-items">
                  <svg class="olymp-add-a-place-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-block-from-chat") %>"></use></svg>
                  <span><strong><%= @organization.clubs.size %></strong><%= t "clubs" %></span>
                </div>
              </td>
              <td class="add-event">
                <%= render "organizations/toggle" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-9 push-xl-3 col-lg-12 push-lg-0 col-sm-12 col-xs-12">
      <div class="row">
        <div class="ui-block responsive-flex">
          <div class="ui-block-title">
            <%= search_form_for @q,  url: organization_path(@organization), class: "w-search", id: "organization_club_form" do |f| %>
              <div class="form-group with-button" >
                <%= f.text_field :name_cont,
                  placeholder: t("organization_details.search_name"),
                  class: "form-control", id: "organization_club_search" %>
                <button>
                  <svg class="olymp-magnifying-glass-icon">
                    <use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-magnifying-glass-icon")%>"></use>
                  </svg>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" id="organization_club">
        <% if @clubs.present? %>
          <% unless current_user.user_organizations.joined.join?( @organization) %>
            <%= render "club", collection: @clubs %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xl-3 pull-xl-9 col-lg-6 pull-lg-0 col-md-6 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title"><%= t "organization_details.organization_info" %></h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
        <div class="ui-block-content">
          <ul class="widget w-personal-info item-block">
            <li>
              <span class="title"><%= t "organization_details.name" %></span>
              <span class="text"><%= @organization.name %></span>
            </li>
            <li>
              <span class="title"><%= t "organization_details.created" %></span>
              <span class="text"><%= (l @organization.created_at, format: :short) unless
                @organization.created_at.nil? %></span>
            </li>
            <li>
              <span class="title"><%= t "organization_details.localtion" %></span>
              <span class="text"><%= @organization.location %></span>
            </li>
            <li>
              <span class="title"><%= t "organization_details.phone" %></span>
              <a href="#" class="text"><%= @organization.phone %></a>
            </li>
            <li>
              <span class="title"><%= t "organization_details.email" %></span>
              <a href="#" class="text"><%= @organization.email %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

