<% @users.each do |user|%>
  <tr>
    <td class="text-center"><%= user.id %></td>
    <td class="text-center"><%= image_tag user.avatar,
      class: "circle-profile-list" %></td>
    <td><%= user.full_name %></a></td>
    <td><%= user.email %></td>
    <td>
      <% if user.organizations.blank? %>
        <%= t "none" %>
      <% else %>
        <% user.organizations.each do |organization| %>
          <%= organization.name %><br>
        <% end %>
      <% end %>
    </td>
    <td class="text-center">
      <%= link_to t("view"), admin_user_path(user),
        class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
