<div class="row block">
  <div class="col-md-6 full-img" >
      <%= image_tag @event.image %>
  </div>
  <div class="col-md-6 " >
    <i class="fa fa-map-dolar">
      <strong><%= @event.name %></strong>
    </i><br><hr>
    <i class="fa fa-money" aria-hidden="true"></i>
    <strong><%= t "value" %>
      </strong class="pull-right">
      <%= number_to_currency(@event.expense, locale: :vi) %><hr>
    <i class="fa fa-map-marker">
      <strong><%= t "detail" %></strong>
      <%= @event.description.html_safe %>
    </i><br><hr>
    <%= link_to edit_dashboard_club_event_path(club_id: params["club_id"], id: @event.id),
      class: "btn btn-nm btn-primary" do %>
      <i class="fa fa-pencil"> <%= t "edit" %></i>
    <% end %>
  </div>
</div><hr>
