<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li>
      <%= link_to t("back"), dashboard_club_event_path(club_id: params["club_id"],
        id: @event.id), class: "btn btn-danger" %>
    </li>
    <li><%=  t "admin" %></li>
    <li><%= @event.name %>
  </ul>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="block">
        <div class="block-title">
          <h2><strong><%= @event.name %></strong></h2>
        </div>
        <%= render "form_club_event" %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
