<div class="modal-dialog ui-block window-popup event-private-public private-event custom_budget_popup">
  <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
    <svg class="olymp-close-icon"><use xlink:href="<%= url_to_asset("icons/icons.svg#olymp-close-icon") %>"></use></svg>
  </a>
  <div class="ui-block">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title"><%= t("history_budget") %></h6>
      <%= link_to t("export_budget"), dashboard_export_history_budgets_path( format: :xlsx, id: @club),
    class: "btn btn-sm btn-danger pull-right" %>
    </div>
    <div class="input-group date-filter" data-date-format="dd/mm/yyyy" id="budget-filter">
      <div class="col-md-2 span-date text-center"><span><strong><%= t("from") %></span></strong></div>
      <%= date_field_tag :date_first, class: "form-control text-center first" %>
      <div class="col-md-2 span-date text-center"><span><strong><%= t("to") %></span></strong></span></div>
      <%= date_field_tag :date_end, class: "form-control text-center second" %>
      <%= hidden_field :club_id, value: @club.id %>
    </div>
    <div id="data-event">
      <%= render partial: "list_budget", locals: {events: @support.history_budget} %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("close") %></button>
  </div>
</div>
