<div class="col-md-3"></div>
<div class="col-md-12">
  <div class="modal-dialog edit-club">
    <div class="modal-content">
      <div class="text-center">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <%= link_to t("get_money"), "#get_money", data: {toggle: "tab"} %>
          </li>
          <li role="presentation">
            <%= link_to t("pay_money"), "#pay_money", data: {toggle: "tab"} %>
          </li>
          <li role="presentation">
            <%= link_to t("subsidy"), "#subsidy", data: {toggle: "tab"} %>
          </li>
        </ul>
      </div>
      <div class="modal-body">
        <div id="">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in"
                  id="get_money">
                  <div class="row block">
                    <%= render partial: "list_budget",
                      locals: {events: @club.events.get_money.newest} %>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="pay_money">
                  <div class="row block">
                    <%= render partial: "list_budget",
                      locals: {events: @club.events.pay_money.newest} %>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="subsidy">
                  <div class="row block">
                    <%= render partial: "list_budget",
                      locals: {events: @club.events.subsidy.newest} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t "close" %>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
