<div class="col-md-8 col-md-offset-2">
  <div class="modal-dialog edit-club">
    <div class="modal-content">
      <div class="modal-body">
        <div class="block">
          <div class="row edit-organization">
            <h2 class="text-center"><%= @organization.name %></h2>
            <div class="col-md-10 col-md-offset-1">
              <%= form_for [:dashboard, @organization], html: {multipart: true} do |f| %>
                <%= render "shared/error_messages", object: f.object %>
                <%= f.label t("name") %>
                <%= f.text_field :name, required: true, class: "form-control" %>
                <%= f.label t("status") %>
                <%= f.select :status, options_for_select(
                  Organization.statuses.map{|k, v| [t("#{k}"), v]},
                  {selected: Organization.statuses["#{@organization.status}"]}),{},
                  class: "form-control stype-other-clubs" %>
                <%= f.label t("email") %>
                <%= f.text_field :email, required: true, class: "form-control" %>

                <%= f.label t("phone") %>
                <%= f.number_field :phone, required: true, class: "form-control" %>

                <%= f.label t("location") %>
                <%= f.text_field :location, required: true, class: "form-control" %>

                <%= f.label t("description") %>
                <%= f.text_area :description, required: true, class: "form-control" %>

                <%= f.label :background %>
                <%= f.file_field :logo %><br>
                <%= image_tag @organization.logo, class: "img-responsive" %><hr/>
                <%= f.submit t("update"),
                  class: "btn btn-primary button-margin-bottom" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
