<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="modal-dialog edit-club">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title"><i class="fa fa-pencil"></i> <%= t "edit" %></h2>
      </div>
      <div class="modal-body">
        <div class="block">
          <%= link_to t("back"),
            manager_organization_path(id: @organization.id),
            class: "btn btn-danger" %>
          <div class="row edit-organization">
            <h1><%= t "edit_organization" %><%= @organization.name %></h1>
            <div class="col-md-8 col-md-offset-2">
              <%= form_for [:manager, @organization], html: {multipart: true} do |f| %>
                <%= render "shared/error_messages", object: f.object %>
                <%= f.label t("name") %>
                <%= f.text_field :name, required: true, class: "form-control" %>

                <%= f.label t("email") %>
                <%= f.text_field :email, required: true, class: "form-control" %>

                <%= f.label t("phone") %>
                <%= f.number_field :phone, required: true, class: "form-control" %>

                <%= f.label t("location") %>
                <%= f.text_field :location, required: true, class: "form-control" %>

                <%= f.label t("description") %>
                <%= f.text_area :description, required: true, class: "form-control" %>

                <%= f.label :logo %>
                <%= f.file_field :logo %>
                <%= image_tag @organization.logo, class: "circle-profile" %><hr/>
                <%= f.submit t("update"), class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
