<%= javascript_include_tag "bootstrap-tagsinput.js",
  "data-turbolinks-track" => true %>
<div class="col-md-8 col-md-offset-2">
  <div class="modal-dialog edit-club">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title text-center"><i class="fa fa-pencil"></i> <%= t "edit" %></h2>
      </div>
      <div class="modal-body">
        <%= form_for [:club_manager, @club],
          html: {multipart: true, enctype: "multipart/form-data",
          class: "form-horizontal form-bordered"} do |f| %>
          <fieldset>
            <legend><strong><%= @club.name %><%= t "information" %></strong></legend>
            <div class="form-group">
              <label class="col-md-3 control-label"><%= t "name" %></label>
              <div class="col-md-8">
                <%= f.text_field :name, value: @club.name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">
                <%= t "enter_tags" %></br>
              </label>
              <div class="col-md-8">
                <%= f.text_field(:tag_list, value: @club.tag_list.join(","),
                  "data-role": "tagsinput", class: "form-control")%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"><%= t "content" %></label>
              <div class="col-md-8">
                <%= f.cktext_area :content,
                  value: get_field_club(@club.content),
                  class: "form-control", rows: Settings.edit_description %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"><%= t "goal" %></label>
              <div class="col-md-8">
                <%= f.cktext_area :goal,
                  value: get_field_club(@club.goal),
                  class: "form-control", rows: Settings.edit_description %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"><%= t "logo" %></label>
              <div class="col-md-8">
                <%= f.file_field :logo %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"><%= t "background" %></label>
              <div class="col-md-8">
                <%= f.file_field :image %>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="col-md-12">
              <legend><strong><%= t "other" %></strong></legend>
              <p><label for="contact-message"><%= t "time_club" %></label></p>
              <div class="days-selector">
                <% for day in I18n.t("date.day_names") %>
                  <%= check_box_tag "club[time_activity][]",
                    day, check_date(@club.time_activity, day) %>
                    <label><%= day %></label>
                <% end %>
              </div>
            </div>
            <div class="col-md-12">
              <label for="contact-message"><%= t "local_club" %></label>
              <%= f.text_area :local, value: @club.local, placeholder: t("local_club"),
                class: "form-control input-lg",
                id: "contact-message", row: 10 %>
            </div>
            <br>
            <div class="col-md-12">
              <div class="col-md-6 edit-name-member">
                <label for="contact-name"><%= t "member_count" %>
                </label>
              </div>
              <div class="col-md-5 input-member-edit">
                <%= f.number_field :member, value: @club.member,
                  placeholder: t("member_count"),
                  class: "form-control", id: "contact-name", min: 0 %>
              </div>
            </div>
          </fieldset>
          <div class="form-group form-actions">
            <div class="col-xs-12 text-right">
              <%= f.button t("close"), class: "btn btn-sm btn-warning",
                "data-dismiss": "modal" %>
              <%= f.button t("save"), class: "btn btn-sm btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
