<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="modal-dialog edit-club">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title"><i class="fa fa-plus"></i> <%= t "add_member" %></h2>
      </div>
      <div class="modal-body">
        <%= form_tag club_manager_club_user_clubs_path(
          club_id: @club.id), method: :post do %>
          <div class="table-responsive">
            <table id=""
              class="table table-vcenter table-condensed table-bordered">
              <thead>
                <tr>
                  <th class="text-center"><i class="fa fa-user-o"></i></th>
                  <th class="text-center"><%= t "full_name" %></th>
                  <th class="center"><%= t "email" %></th>
                  <th class="center"><%= t "action" %></th>
                </tr>
              </thead>
              <tbody>
                <% @support.users.each do |user| %>
                  <tr class="data-<%= user.id %>">
                    <td class="center"><%= image_tag user.avatar,
                      class: "img-responsive img-budgets-member" %></td>
                    <td class="center"><%= user.full_name %></td>
                    <td class="center"><%= user.email %></td>
                    <td class="center">
                      <label class="">
                        <%= check_box_tag("users[]", user.user_id, false) %>
                        <span></span>
                      </label>
                    </td>
                  </tr>
                <% end %>
                <%= submit_tag t("add"), class: "btn btn-danger" %>
              </tbody>
            </table>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
