<footer class="site-footer site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-7 address-footer">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= t "address_com" %>
        </p>
        <p><i class="fa fa-phone" aria-hidden="true"></i><%= t "phone_com" %></p>
        <p>
          <small class="text-muted"> <span class="fa fa-users"></span> <%= t "dev_by" %></small>
        </p>
      </div>
      <div class="col-sm-6 col-md-3 follow-footer pull-right">
        <h4 class="footer-heading"><%= t "follow_us" %></h4>
        <ul class="footer-nav footer-nav-social list-inline">
          <li>
            <%= link_to "https://www.facebook.com/FramgiaVietnam", target: :blank do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "https://github.com/framgia", target: :blank do %>
              <i class="fa fa-github"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.linkedin.com/company/framgia-vietnam",
              target: :blank do %>
              <i class="fa fa-linkedin"></i>
            <% end %>
          </li>
          <li>
            <%= mail_to t("mail_com") do %>
              <i class="fa fa-envelope-o"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<%= link_to "#", id: "to-top", class: "top" do %>
  <i class="fa fa-angle-up"></i>
<% end %>
