<header class="account_menu">
  <div class="container">
    <div class="col-xl-3 push-xl-0 col-lg-12 push-lg-0 col-md-2 col-sm-2 col-xs-12">
      <%= link_to root_path, class: "site-logo" do %>
        <%= image_tag "logo.png", class: "img-responsive logo-page-club" %>
      <% end %>
    </div>
    <nav class="col-xl-10 push-xl-0 col-lg-12 push-lg-0 col-md-10 col-sm-10 col-xs-12">
      <%= link_to "javascript:void(0)",
        class: "btn btn-default site-menu-toggle visible-xs visible-sm" do %>
        <i class="fa fa-bars"></i>
      <% end %>
      <ul class="site-nav site-nav-club">
        <li class="visible-xs visible-sm">
          <%= link_to "javascript:void(0)",
            class: "site-menu-toggle text-center" do %>
            <i class="fa fa-times"></i>
          <% end %>
        </li>
        <li><%= link_to t("organizations"), organizations_path %></li>
        <li><%= link_to t("my_clubs"), my_clubs_path %></li>
        </li>
        <li><%= link_to t("send_request_club"),
          new_user_club_request_path(user_id: current_user.id) %>
        </li>
        <%= render "request/request_question" %>
        <li><%= link_to t("feed_back"),
          new_user_feed_back_path(user_id: current_user.id) %>
        </li>
        <li><%= link_to t("more_tool"), Settings.tools_url, target: "_blank" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
