<section class="site-content site-section sugest-clubs">
  <div class="container">
      <div class="site-block text-center">
          <h1><%= t "sugest_clubs" %></h1>
      </div>
      <div class="row portfolio">
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="design">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="logo">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="logo">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="design">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="logo">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="design">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="development">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
          <div class="col-sm-4 portfolio-item animation-fadeInQuick" data-category="development">
              <a href="portfolio_single.html">
                  <%= image_tag "placeholders/photos/photo11.jpg", class: "img-responsive" %>
                  <span class="portfolio-item-info"><strong><%= t "lorem" %></strong></span>
              </a>
          </div>
      </div>
  </div>
</section>
