<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag t "datepicker" %>
  </head>
  <body>
    <%= render "shared/flash_warning" %>
    <%= devise_error_messages! %>
    <div id="wrapper">
      <div id="main">
        <div class="inner">
          <%= render "layouts/header"%>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/sidebar"%>
    </div>
    <%= render "registrations/login_signup" %>
  </body>
</html>
