<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "icon.png" %>
  </head>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>
  <body>
    <div id="page-container">
      <%= render "layouts/header" %>
      <%= render "shared/flash_warning" %>
      <%= devise_error_messages! %>
      <%= yield %>
    </div>
  </body>
</html>
